<style>
	input.ace.ace-switch.ace-switch-4[type="checkbox"]:checked + .user-sex-span::before{
		background:#D15B47;
	}
	input.ace.ace-switch.ace-switch-4[type="checkbox"] + .user-sex-span::before{
		background:#82AF6F;
	}
</style>
<label class="block clearfix">
	<span class="block input-icon input-icon-right">
		<input type="password" class="form-control" placeholder="密码" />
		<i class="ace-icon fa fa-lock"></i>
	</span>
</label>

<label class="block clearfix">
	<span class="block input-icon input-icon-right">
		<input type="password" class="form-control" placeholder="重复密码" />
		<i class="ace-icon fa fa-retweet"></i>
	</span>
</label>
<label class="block clearfix">
	<select class="chosen-select form-control user-finfo" data-label="所属公司"  name="user_company" data-placeholder="选择所属公司">
		<volist name="user_companys" id="company">
			<option value="{$company.config_key}">{$company.config_value}</option>
		</volist>
	</select>
</label>	
<label class="block clearfix">
	<select class="chosen-select form-control user-finfo" data-label="所属部门" name="user_group" data-placeholder="选择所属部门">
		<volist name="user_groups" id="groups">
			<option value="{$groups.group_id}">{$groups.group_name}</option>
		</volist>
	</select>
</label>
<label class="block clearfix">
	<select class="chosen-select form-control user-finfo" data-label="所属小组" name="user_subgroup" data-placeholder="选择所属小组">
		<volist name="user_subgroups" id="subgroups">
			<option value="{$subgroups.subgroup_id}">{$subgroups.subgroup_name}</option>
		</volist>
	</select>
</label>
<label class="block clearfix">
	<select class="chosen-select form-control user-finfo" data-label="职位" name="user_group" data-placeholder="选择职位">
		<volist name="user_place" id="place">
			<option value="{$place.place_id}">{$place.place_name}</option>
		</volist>
	</select>
</label>	
<label class="block clearfix">
	<span class="block input-icon input-icon-right">
		<input type="text" class="form-control" readonly="" placeholder="上级主管/组长" />
		<i class="ace-icon fa fa-group"></i>
	</span>	
</label>	
<label class="block clearfix">
	<input type="checkbox" id="user-sex-box" name="user_sex" data-label="性别" class="user-finfo ace ace-switch ace-switch-4 btn-flat" />
	<span class="lbl user-sex-span" data-lbl="女&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;男"></span>
</label>
<label class="block clearfix">
	<span class="block input-icon input-icon-right">
		<input class="form-control date-picker user-finfo" data-label='生日' name="user_born" id="id-date-born" data-date-format="yyyy-mm-dd" type="text">	
		<i class="ace-icon fa fa-calendar bigger-110"></i>
	</span>
</label>
<!-- <label class="block clearfix">
	
</label> -->
<label class="block clearfix">
	<span class="block input-icon input-icon-right">
		<input type="text" name="user_phone" autocomplete="off" class="form-control user-infos" placeholder="手机号码" />
		<i class="ace-icon glyphicon glyphicon-phone"></i>
	</span>
</label>
<div class="chaptcha-label hidden">
	<label class="block clearfix">
		<span class="block input-icon input-icon-right">
			<input type="text" name="user_captcha" autocomplete="off" class="form-control" placeholder="验证码" />
			<i class="ace-icon fa"></i>
		</span>
	</label>
</div>
<div class="space-24"></div>

<div class="clearfix">

	<button type="button" class="btn-block btn btn-sm btn-success">
		<span class="bigger-110">注册</span>

		<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
	</button>
</div>
<script src="__PUBLIC__/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script>
	$(function(){
		set_sex()
		//生日选择
		$('#id-date-born').datepicker({
		   autoclose: true,
		   todayHighlight: true
		})
		//性别选择
		$("#user-sex-box").on("change",function(){
			set_sex();
		})
		//设置性别
		function set_sex(){
			if($("#user-sex-box").is(":checked")){
				$("#user-sex-box").val("女")
			}else{
				$("#user-sex-box").val("男")
			}
		}
		//验证验证码
		$(".form-control[name='user_captcha']").on("input",function(){
			var captchaE=$(".form-control[name='user_captcha']")
			var captcha=captchaE.val()
			if(captcha.length==6){
				$.ajax({
					url:"{:U('checkphone')}",
					data:{type:"checkmsg",data:{captcha:captcha}},
					type:"post",
					dateType:"html",
					success:function(data){
						captchaE.next().text("")
						clearInterval(capInt)
						if(data=="success"){
							captchaE.next().addClass("fa-check-square green")
							captchaE.next().removeClass("fa-times-circle red")
						}else{
							captchaE.next().addClass("fa-times-circle red")
							captchaE.next().removeClass("fa-times-square green")
							if(data=="timeout"){
								alert("验证码已过期，重新获取吧！")
							}
						}
					}
				})
			}else if(captcha.length>6){
				captcha.val(captcha.substring(0,6));
			}
		})
	})
</script>