<div class="widget-box">
    <div class="widget-header">
        <h5 class="widget-title smaller"><i class="ace-icon fa fa-clock-o bigger-110"></i>加班申请</h5>
        <div class="widget-toolbar"></div>
    </div>
    <div class="widget-body">
            
        <div class="widget-main" style="text-align:left;">
            <div class="alert alert-info"><i class="ace-icon fa fa-bullhorn bigger-140">&nbsp;&nbsp;</i><strong class="smaller-90">普通加班都是以打卡为主，记得打卡</strong></div>
            <label>加班类型</label>
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <select class="form-control apply-info" name="aapply_type">
                        <option value=3>工作日加班</option>
                        <option value=4>节假日加班</option>
                        <option value=5>早上加班</option>
                        <option value=6>在家加班</option>
                    </select>
                </div>
            </div>
            <input type="hidden" class="apply-info" name="aapply_inday" value="3">

            <div class="space space-8"></div>
            <label>涉及项目名称</label>
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <!-- <input class="form-control" placeholder="@其他主管/组长"> -->
                    <select class="chosen-select form-control apply-info" id="" name="aapply_project" data-placeholder="项目名称">
                            <option value=""></option>
                            <volist name="projectArray" id="project">
                                <option value="{$project.project_id}">{$project.project_name}</option>
                            </volist>   
                        </select>
                </div>
            </div>

            <div class="space space-8"></div>
            <label>涉及其他部门/小组</label>
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <!-- <input class="form-control" placeholder="@其他主管/组长"> -->
                    <select class="chosen-select form-control apply-info" multiple id="" name="aapply_approve" data-placeholder="@其他主管/组长">
                        <option value=""></option>
                        <volist name="managerArray" id="manager">
                                <option value="{$manager.user_code}">{$manager.user_name}</option>
                        </volist>
                    </select>
                </div>
            </div>
            <div class="space space-8"></div>
            <label>开始日期</label>
            <div class="row">
                <div class="col-xs-12 col-sm-12">

                    <div class="input-group col-xs-7 col-sm-9" style="float:left;">
                        <input class="form-control date-picker apply-info" data-label="开始时间" name="aapply_schedule" id="date-schedule" data-date-format="yyyy-mm-dd" type="text" value="{$nowtime}" readonly>
                        <span class="input-group-addon">
                            <i class="fa fa-calendar bigger-110"></i>
                        </span>
                    </div>
                    <div class="col-xs-5 col-sm-3" style="float:left;line-height:34px;">
                        <label class="middle">
                            <input class="ace" id="arecord-remedy" type="checkbox">
                            <span class="lbl">&nbsp;后补&nbsp;</span>
                            <span class="badge badge-purple" title="你可后补的次数">{$remedy|default=0}</span>
                        </label>
                    </div>
                    
                </div>
            </div>
            <div class="margin-box home-time hide">
                <div class="space space-8"></div>
                <label>在家加班时长，不能超4小时</label>
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <input type="text" id="home-time" name="aapply_hours" class="apply-info"/>
                        <!-- <div class="space-6"></div>
                        <input class="form-control" placeholder="在家加班时长"> -->
                    </div>
                </div>
            </div>
            
            <div class="space space-8"></div>
            <label>理由</label>
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <textarea class="form-control apply-info" name="aapply_reason" id="" placeholder="请认真填写申请理由"></textarea>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(function(){
        /*下拉选框的js*/

        $('.chosen-select').chosen({allow_single_deselect:true,search_contains:true,width:"100%"}); 
   
        //初始化加班小时选择器
        $('#home-time').ace_spinner({value:1,min:1,max:4,step:0.5, on_sides: true, icon_up:'ace-icon fa fa-plus bigger-110', icon_down:'ace-icon fa fa-minus bigger-110', btn_up_class:'btn-info' , btn_down_class:'btn-info'});
        //类型改变
        $("select[name='aapply_type']").on("change",function(){
            if($(this).val()==6){
                $(".alert-info strong").text("在家加班时间不能超过4小时")
                $("input[name='aapply_inday']").val(0)
                $(".home-time").removeClass("hide")
            }else{
                if(!$(".home-time").hasClass("hide")){
                    $(".home-time").addClass("hide")
                }
                if($(this).val()==3){
                    $("input[name='aapply_inday']").val(3)
                    $(".alert-info strong").text("普通加班都是以打卡为主，记得打卡")
                }else{
                    if($(this).val()==4){
                        $("input[name='aapply_inday']").val(0)
                    }else{
                        $("input[name='aapply_inday']").val(2)
                    }
                    $(".alert-info strong").text("申请后上班时间就按实际打卡计算")
                }
            }
        })
        // $("select[name='aapply_project']").next().find(".default").on('input', function(evt, params) {
        //     // do_something(evt, params);
        //     var keyw=$(this).val()
        //     var sel=$(this)
        //     console.log(sel.val())
        //     $.ajax({
        //         url:"{:U('Project/searchProjectName')}",
        //         type:"post",
        //         dataType:"html",
        //         data:{key:keyw},
        //         success:function(data){
        //             $("select[name='aapply_project']").html(data);
        //             $("select[name='aapply_project']").trigger('chosen:updated');
        //         }
        //     })
        //     console.log(sel.val())
        //     sel.val(keyw);
        //   });
        //
    })
</script>