<div class="widget-box">
        <div class="widget-header">
            <h5 class="widget-title smaller"><i class="ace-icon fa fa-train bigger-110"></i>出差申请</h5>
            <div class="widget-toolbar"></div>
        </div>
        <div class="widget-body">
            <div class="widget-main" style="text-align:left;">
                <div class="alert alert-info smaller-90">出差需要写明项目</div>
                <input type="hidden" class="apply-info" name="aapply_type" value="10">
                <label>项目名称</label>
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <input class="form-control apply-info" placeholder="出差项目名称" name="aapply_project"/>
                    </div>
                </div>
                <div class="space space-8"></div>
                <label>类型选择</label>
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <select class="form-control apply-info" name="aapply_inday">
                            <option value=4>开始</option>
                            <option value=5>结束</option>
                        </select>
                    </div>
                </div>
                <div class="space space-8"></div>
                <label>涉及其他部门/小组</label>
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <!-- <input class="form-control" placeholder="@其他主管/组长"> -->
                        <select class="chosen-select form-control apply-info" multiple id="" name="aapply_approve" data-placeholder="@其他主管/组长">
                                <option value=""></option>
                                <volist name="managerArray" id="manager">
                                        <option value="{$manager.user_code}">{$manager.user_name}</option>
                                </volist>
                            </select>
                    </div>
                </div>
                <div class="space space-8"></div>
                <label>开始日期</label>
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
    
                        <div class="input-group col-xs-7 col-sm-9" style="float:left;">
                            <input class="form-control date-picker apply-info" data-label="开始时间" name="aapply_schedule" id="date-schedule" data-date-format="yyyy-mm-dd" type="text" value="{$nowtime}" readonly>
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                        </div>
                        <div class="col-xs-5 col-sm-3" style="float:left;line-height:34px;">
                            <label class="middle">
                                <input class="ace" id="arecord-remedy" type="checkbox">
                                <span class="lbl">&nbsp;后补&nbsp;</span>
                                <span class="badge badge-purple" title="你可后补的次数">{$remedy|default=0}</span>
                            </label>
                        </div>
                        
                    </div>
                </div>

                <div class="space space-8"></div>
                <label>理由</label>
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <textarea class="form-control apply-info" name="aapply_reason" id="" placeholder="请认真填写申请理由"></textarea>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    
    <script>
        $(function(){

            /*下拉选框的js*/
            if(!ace.vars['touch']) {
                $('.chosen-select').chosen({allow_single_deselect:true,search_contains:true}); 
                $(window)
                .off('resize.chosen')
                .on('resize.chosen', function() {
                    $('.chosen-select').each(function() {
                            var $this = $(this);
                            $this.next().css({'width': $this.parent().width()});
                    })
                }).trigger('resize.chosen');
                //resize chosen on sidebar collapse/expand
                $(document).on('settings.ace.chosen', function(e, event_name, event_val) {
                    if(event_name != 'sidebar_collapsed') return;
                    $('.chosen-select').each(function() {
                            var $this = $(this);
                            $this.next().css({'width': $this.parent().width()});
                    })
                });
        
        
                $('#chosen-multiple-style .btn').on('click', function(e){
                    var target = $(this).find('input[type=radio]');
                    var which = parseInt(target.val());
                    if(which == 2) $('#form-field-select-4').addClass('tag-input-style');
                        else $('#form-field-select-4').removeClass('tag-input-style');
                });
            }   
        })
    </script>
    <!-- 
    CREATE TABLE oa_project_list (project_id bigint(20) NOT NULL AUTO_INCREMENT COMMENT 'id',project_company int(9) NOT NULL, project_name varchar(200) NOT NULL,project)
     -->