<link rel="stylesheet" href="__PUBLIC__/components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
<link rel="stylesheet" href="__PUBLIC__/components/bootstrap-switch-master/dist/css/bootstrap-switch.css">
<style>
    /* #apply-list .label{cursor:pointer;} */
    .img-view{cursor:pointer;}
    td {
    border-color: #BCD4E5;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    }
    .attend-type-0{background:#698281;}
    .attend-type-1{background:#AC725E;}
    .attend-type-2{background:#FA573C;}
    .attend-type-3{background:#42D692;}
    .attend-type-4{background:#B3DC6C;}
    .attend-type-5{background:#FFAD46;}
    .attend-type-6{background:#D06B64;}
    .attend-type-7{background:#9FC6E7;}
    .attend-type-8{background:#4986E7;}
    .attend-type-9{background:#CABDBF;}
    .attend-type-10{background:#CCA6AC;}
    .attend-type-11{background:#F691B2;}
    .attend-type-12{background:#A47AE2;}
    .attend-type-13{background:#92E1C0;}
    .attend-type-14{background:#555555;}
    .attend-type-btn{cursor:pointer;}
</style>

<div class="page-header">
	<h1>
		考勤管理
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			高级管理
		</small>
	</h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="tabbable">
        <ul class="nav nav-tabs padding-12 tab-color-blue background-blue">
            <li class="active">
                <a data-toggle="tab" class="record-type" data-checkinway='1' href="#checkin-list">打卡记录</a>
            </li>
            <li>
                <a data-toggle="tab" class="record-type" data-checkinway='2' href="#apply-list">申请记录</a>
            </li>
            <li>
                <a data-toggle="tab" class="record-type" data-checkinway='3' href="#record-list">考勤记录</a>
            </li>
            <li>
                <a data-toggle="tab" class="record-type" data-checkinway='4' href="#user-list">员工信息</a>
            </li>
            <li>
                <a data-toggle="tab" class="record-type" data-checkinway='5' href="#config-list">考勤配置</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="checkin-list" class="tab-pane in active">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thin-border-bottom">
                        <tr>
                            <th>
                                <i class="ace-icon fa fa-user-o"></i>
                                员工
                            </th>
                            <th>
                                <i class="ace-icon fa fa-calendar-check-o"></i>
                                方式
                            </th>
                            <th>
                                <i class="ace-icon fa fa-calendar-check-o"></i>
                                类型
                            </th>
                            <th>
                                <i class="ace-icon fa fa-calendar-check-o"></i>
                                始末
                            </th>
                            <th>
                                <i class="ace-icon fa fa-clock-o"></i>
                                打卡时间
                            </th>
                            <th class="hidden-480">
                                <i class="ace-icon fa fa-map-marker"></i>
                                打卡地理位置
                            </th>
                            <th class="hidden-480">
                                <i class="ace-icon fa fa-map-marker"></i>
                                图片
                            </th>
                            <th class="hidden-480">
                                <i class="ace-icon fa fa-map-marker"></i>
                                状态
                            </th>
                            <th class="">
                                <i class="ace-icon fa fa-map-marker"></i>
                                控制
                            </th>
                        </tr>
                    </thead>

                    <tbody class="html-box" id="checkin-html-div">
                        {$checkinListHtml.html}
                    </tbody>
                </table>
                <div id="checkin-page-div" class="pages-list" data-con="advSearchCheckin" data-html="#checkin-html-div" data-page="#checkin-page-div">{$checkinListHtml.pages}</div>
            </div>
            <div id="apply-list" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thin-border-bottom">
                        <tr>
                            <th>
                                <i class="ace-icon fa fa-user"></i>
                                申请人
                            </th>
                            <th>
                                <i class="ace-icon fa fa-calendar-check-o"></i>
                                申请类型
                            </th>
                            <th class="hidden-480">
                                <i class="ace-icon fa fa-clock-o"></i>
                                提交时间
                            </th>
                            <th >
                                <i class="ace-icon fa fa-clock-o"></i>
                                计划日期
                            </th>
                            <th class="hidden-480" >
                                <i class="ace-icon fa fa-map-marker"></i>
                                天数/小时
                            </th>
                            <th class="hidden-480">
                                <i class="ace-icon fa fa-map-marker"></i>
                                申请理由
                            </th>
                            <th>
                                <i class="ace-icon fa fa-map-marker"></i>
                                审批状态
                            </th>
                        </tr>
                    </thead>

                    <tbody class="html-box" id="apply-html-div">
                        {$applyListHtml.html}
                    </tbody>
                </table>
                <div id="apply-page-div" class="pages-list" data-con="advSearchApply" data-html="#apply-html-div" data-page="#apply-page-div">{$applyListHtml.pages}</div>
            </div>
            <div id="record-list" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thin-border-bottom">
                        <tr>
                            <th>
                                <i class="ace-icon fa fa-user"></i>
                                申请人
                            </th>
                            <th>
                                <i class="ace-icon fa fa-calendar-check-o"></i>
                                年份
                            </th>
                            <th class="hidden-480">
                                <i class="ace-icon fa fa-clock-o"></i>
                                月份
                            </th>
                            <th >
                                <i class="ace-icon fa fa-calendar-check-o"></i>
                                考勤月历
                            </th>
                            <th class="hidden-480" >
                                <i class="ace-icon fa fa-map-marker"></i>
                                本月统计
                            </th>
                            <th class="hidden-480">
                                <i class="ace-icon fa fa-map-marker"></i>
                                后补次数
                            </th>
                            <th>
                                <i class="ace-icon fa fa-map-marker"></i>
                                员工状态
                            </th>
                        </tr>
                    </thead>

                    <tbody class="html-box" id="record-html-div">
                        {$recordListHtml.html}
                    </tbody>
                </table>
                <div id="record-page-div" class="pages-list" data-con="advSearchRecord" data-html="#record-html-div" data-page="#record-page-div">{$recordListHtml.pages}</div>
            </div>
            <div id="user-list" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thin-border-bottom">
                        <tr>
                            <th>
                                <i class="ace-icon fa fa-calendar-check-o"></i>
                                员工姓名
                            </th>
                            <th>
                                <i class="ace-icon fa fa-clock-o"></i>
                                隶属公司
                            </th>
                            <th >
                                <i class="ace-icon fa fa-clock-o"></i>
                                隶属部门
                            </th>
                            <th >
                                <i class="ace-icon fa fa-clock-o"></i>
                                隶属小组
                            </th>
                            <th class="hidden-480" >
                                <i class="ace-icon fa fa-map-marker"></i>
                                每天工时
                            </th>
                            <th class="hidden-480">
                                <i class="ace-icon fa fa-map-marker"></i>
                                累积工时
                            </th>
                            <th class="hidden-480">
                                <i class="ace-icon fa fa-map-marker"></i>
                                年假天数
                            </th>
                            <th class="hidden-480">
                                <i class="ace-icon fa fa-map-marker"></i>
                                操作
                            </th>
                        </tr>
                    </thead>

                    <tbody class="html-box" id="user-html-div">
                        {$userListHtml.html}
                    </tbody>
                </table>
                <div id="user-page-div" class="pages-list" data-con="advSearchUser" data-html="#user-html-div" data-page="#user-page-div">{$userListHtml.pages}</div>
            </div>
            <div id="config-list" class="tab-pane">
                {$configListHtml.html}
            </div>
            <!-- 右栏筛选框 start-->
            <div id="right-menu" class="modal aside" data-body-scroll="false" data-offset="true" data-placement="right" data-fixed="true" data-backdrop="false" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header no-padding">
                            <div class="table-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    <span class="white">&times;</span>
                                </button>
                                根据不同条件筛选
                            </div>
                        </div>
            
                        <div class="modal-body">
                            <!-- 通用 员工姓名筛选 -->
                            <div class="">
                                <div class="form-group">
                                    <select class="chosen-select condition-info" multiple name="user_code" data-placeholder="员工">
                                        <option value="">所有员工</option>
                                        {$userList.html}
                                        <!-- <volist name="applicantArray" id="applicant">
                                                <option value="{$applicant.aapply_code}">{$applicant.aapply_codes}</option>
                                        </volist> -->
                                    </select>
                                </div>
                            </div>
                            <!-- 打卡记录筛选条件 -->
                            <div class="search-box checkin-condition cond-active">
                                <div class="form-group">
                                    <label >打卡方式</label>
                                    <select class="form-control cond-info" name="acheckin_checkinway">
                                        <option value="">全部方式</option>
                                        <option value="1">定位</option>
                                        <option value="2">打卡</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label >打卡类型</label>
                                    <select class="form-control cond-info" name="acheckin_type">
                                        <option value="">全部类型</option>
                                        <volist name="attendTypeArray" id="attentype">
                                            <option class="attype" value="{$attentype.config_key}">{$attentype.config_value}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label >打卡日期</label>
                                    <select class="form-control cond-info" name="acheckin_checkintime">
                                        <option value="">全部日期</option>
                                        <option value="1 DAY">当天</option>
                                        <option value="+1 WEEK">一周</option>
                                        <option value="+1 MONTH" selected>一个月</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label >打卡状态</label>
                                    <select class="form-control cond-info" name="acheckin_state">
                                        <option value="">全部状态</option>
                                        <option value="0" selected>未生效</option>
                                        <option value="1">已生效</option>
                                        <option value="2">已删除</option>
                                    </select>
                                </div>
                            </div>
                            <!-- 申请记录筛选条件 -->
                            <div class="search-box apply-condition hide">
                                <div class="form-group">
                                    <label >申请类型</label>
                                    <select class="form-control cond-info">
                                        <option value="">全部类型</option>
                                        <volist name="attendTypeArray" id="attentype">
                                            <option value="{$attentype.config_key}">{$attentype.config_value}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label >申请时间</label>
                                    <select class="form-control cond-info" name="time">
                                        <option value="">全部时间</option>
                                        <option value="1 DAY">当天</option>
                                        <option value="+1 WEEK">一周</option>
                                        <option value="+1 MONTH" selected>一个月</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label >计划日期</label>
                                    <select class="form-control cond-info" name="time">
                                        <option value="">全部日期</option>
                                        <option value="1 DAY">当天</option>
                                        <option value="+1 WEEK">一周</option>
                                        <option value="+1 MONTH" selected>一个月</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label >审批状态</label>
                                    <select class="form-control cond-info" name="aapply_state">
                                        <option value="">全部状态</option>
                                        <option value="0">未审批</option>
                                        <option value="1">审批</option>
                                        <option value="2">拒绝</option>
                                        <option value="3">审核中</option>
                                        <option value="4">删除</option>
                                    </select>
                                </div>
                            </div>
                            <!-- 考勤记录筛选条件 -->
                            <div class="search-box record-condition hide">
                                <div class="form-group">
                                    <label >年份</label>
                                    <input type="text" class="form-control cond-info" placeholder="年份">
                                </div>
                                <div class="form-group">
                                    <label >月份</label>
                                    <select class="form-control cond-info" name="aapply_state">
                                        <for start="1" end="13">
                                            <option value="{$i}">{$i}</option>
                                        </for>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select name="user_state" class="form-control cond-info">
                                        <option value="">所有状态</option>
                                        <option value=1>在职</option>
                                        <option value=0>未激活</option>
                                        <option value=2>离职</option>
                                    </select>
                                </div>
                            </div>
                            <!--员工信息筛选条件 -->
                            <div class="search-box user-condition hide">
                                <div class="form-group">
                                    <label >公司</label>
                                    <select class="form-control cond-info">
                                        <option value="">全部公司</option>
                                        <volist name="companyArray" id="company">
                                            <option value="{$company.company_id}">{$company.company_name}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label >部门</label>
                                    <select class="form-control cond-info">
                                        <option value="">全部部门</option>
                                        <volist name="departmentArray" id="department">
                                            <option value="{$department.department_id}">{$department.department_name}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label >小组</label>
                                    <select class="form-control cond-info">
                                        <option value="">全部小组</option>
                                        <volist name="groupArray" id="group">
                                            <option value="{$group.group_id}">{$group.group_name}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-info btn-block" id="search-btn">查询</button>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
            
                    <button class="aside-trigger btn btn-info btn-app btn-xs ace-settings-btn" data-target="#right-menu" data-toggle="modal" type="button">
                        <i data-icon1="fa-plus" data-icon2="fa-minus" class="ace-icon fa fa-search bigger-110 icon-only"></i>
                    </button>
                </div><!-- /.modal-dialog -->
            </div>
            <!-- 右栏筛选框 end-->
        </div>
    </div>
</div>
<!-- 考勤弹窗 -->
<div id="attendModal" class="modal fade" tabindex="-1" style="text-align: center;">
    <div class="modal-dialog" >
        <div class="modal-content" >
            <div class="modal-body">
                
            </div>

            <div class="modal-footer">
                <button class="btn btn-white btn-default btn-round" data-dismiss="modal">
                    <i class="ace-icon fa fa-times red2"></i>
                    取消
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- 图片弹窗 -->
<div id="imgModal" class="modal fade" tabindex="-1" style="text-align: center;">
    <div class="modal-dialog" role="archiveModal">
        <div class="modal-content" >

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 pdf">

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- 月历弹窗 -->
<div id="recordModal" class="modal fade" tabindex="-1" style="text-align: center;">
    <div class="modal-dialog" role="archiveModal">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="recordModalTitle">Modal title</h4>
            </div>
            <div class="modal-body">
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- 修改考勤时间 -->
<div id="editTimeModal" class="modal fade" tabindex="-1" style="text-align: center;">
    <div class="modal-dialog modal-sm" role="archiveModal">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editTimeTitle">Modal title</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="control-label">申请类型</label>
                    <input type="text" class="form-control" name="worktime" placeholder="工时" value="0">
                </div>
                <div class="form-group">
                    <label for="message-text" class="control-label">申请类型</label>
                    <select class="form-control noon-type">
                        <option value="0">无</option>
                        <volist name="attendTypeArray" id="attentype">
                            <option value="{$attentype.config_key}">{$attentype.config_value}</option>
                        </volist>
                    </select>
                </div>
                <button class="btn btn-info btn-block">修改工时和类型</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="pdf1"></div>
<script src="__PUBLIC__/assets/js/src/elements.aside.js"></script>
<script src="__PUBLIC__/components/chosen/chosen.jquery.js"></script>
<script src="__PUBLIC__/components/jquery.media/jquery.media.js"></script>

<script>
    var page=1
    $(function(){
        /**
		 * 通过jquery media显示文件 图片和pdf
		 * 
		 */
		$(".page-content").on("click",".img-view",function(){
            var fileUrl=$(this).data("url");
            fileUrl="__PUBLIC__"+fileUrl
			$('#imgModal .pdf').media({width:"100%",height:($(document).height()-100)+"px", autoplay: true,src:fileUrl});
		})

		$('#imgModal').on('hidden.bs.modal', function() {
             $(document.body).addClass("modal-open");
        })

        /*申请人下拉框*/
        $('.chosen-select').chosen({allow_single_deselect:true,search_contains:true,width:"100%",hide_results_on_select:false}); 
        /*右侧筛选框*/
        $('.modal.aside').ace_aside();
        /*查询按钮按下*/
        $("#search-btn").on("click",function(){
            search()
        })
        /*不同类别选择*/
        $(".tabbable").on("click",".record-type",function(){
            var href=$(this).attr("href");
            $(".search-box").addClass("hide");
            if(href=="#config-list"){
                $('.aside-trigger').addClass("hide")
                $('.aside-trigger').parents(".modal-dialog").addClass("hide")
            }else{
                $('.aside-trigger').removeClass("hide")
                $('.aside-trigger').parents(".modal-dialog").removeClass("hide")
                if(href=="#checkin-list"){
                $(".checkin-condition").removeClass("hide");
                $(".checkin-condition").addClass("cond-active");
                }else if(href=="#apply-list"){
                    $(".apply-condition").removeClass("hide");
                    $(".apply-condition").addClass("cond-active");
                }else if(href=="#record-list"){
                    $(".record-condition").removeClass("hide");
                    $(".record-condition").addClass("cond-active");
                }else if(href=="#user-list"){
                    $(".user-condition").removeClass("hide");
                    $(".user-condition").addClass("cond-active");
                }
            }
        })
        /*页数修改*/
        $(".pages-list").on("click","a",function(){
            page=$(this).data("page")
            search()
        //    var page= $(this).data("page")
        //    var html=$(this).parents(".pages-list").data("html")
        //    var pages=$(this).parents(".pages-list").data("page")
        //    var con=$(this).parents(".pages-list").data("con")
        //    $.ajax({
        //        url:"{:U('"+con+"')}",
        //        type:"post",
        //        dataType:"json",
        //        data:{p:page},
        //        success:function(data){
        //          console.log("data")
        //            $(html).html(data.html)
        //            $(pages).html(data.pages)
        //        }
        //    })
       })
       /*显示申请详情*/
       $(".tab-content").on("click",".info-edit",function(){
            $("#attendModal .modal-body").html("")
            var datas={}
            datas["id"]=$(this).parents(".edit-control").data("id")
            // datas["active"]=$(".tab-content .active").find(".html-box").attr("id")
            $.ajax({
               url:"{:U('getAdvInfo')}",
               type:"post",
               dataType:"json",
               data:datas,
               success:function(data){
                   $("#attendModal .modal-body").html(data.html)
               }
           })
       })
       /*修改制定用户的工时、累积工时、年假*/
        $(".tab-content").on("click",".user-edit",function(){
            var datas={}
            datas["data"]={}
            datas["data"]["auser_code"]= $(this).parents(".user-code").data("usercode");

            $(this).parents(".user-code").find(".auser-info").each(function(){
                var name=$(this).attr("name")
                var val=$(this).val()
                if(val==""){
                    val=0
                }
                datas["data"][name]=val
            })
            $.ajax({
                url:"{:U('setAuser')}",
                data:datas,
                type:"post",
                dataType:"json",
                success:function(data){
                    alert(data.msg)
                }
            })
        })
        //打卡记录状态修改
        $("#content-box").on("click",".checkin-con",function(){
            var datas={}
            datas["data"]={}
            datas["data"]["id"]=$(this).parents(".edit-control").data("id")
            datas["data"]["state"]=$(this).data("state")
            $.ajax({
                url:"{:U('setCheckinState')}",
                type:"post",
                dataType:"json",
                data:datas,
                success:function(data){
                    alert(data.msg)
                    if(data.status>0){
                        $("#attendModal").modal('hide')
                        search()
                    }
                }
            })
        })
        //员工姓名获取

        // $("select[name='user_code']").next().find(".default").on('change', function() {
        //     // console.log($(this).val());
        //     var meInput=$(this)
        //     var datas={}
        //     datas["data"]={name:$(this).val()}
        //     $.ajax({
        //         url:"{:U('searchNameCode')}",
        //         type:"post",
        //         dataType:"json",
        //         data:datas,
        //         success:function(data){
        //             console.log(data.html)
        //             $("select[name='user_code']").html(data.html);
        //             $("select[name='user_code']").trigger('chosen:updated');
        //         }
        //     })
        // })
    })
    function search(){
        var con=$(".tab-content .active .pages-list").data("con")
        var infoBox=$(".cond-active").find(".cond-info")
        var datas={}
        
        datas["p"]=page
        datas["data"]={}
        datas["user_code"]=$("select[name='user_code']").val();
        infoBox.each(function(){
            var name=$(this).attr("name")
            var val=$(this).val();
            if(val!=""){
                datas["data"][name]=val
            }
            
        })

        var html="#"+$(".tab-content .active").find(".html-box").attr("id")
        var pages="#"+$(".tab-content .active").find(".pages-list").attr("id")

        $.ajax({
            url:"{:U('"+con+"')}",
            type:"post",
            dataType:"json",
            data:datas,
            success:function(data){
                $(html).html(data.html);
                $(pages).html(data.pages);
            }
        })
    }
</script>