<link rel="stylesheet" href="__PUBLIC__/components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
<link rel="stylesheet" href="__PUBLIC__/components/bootstrap-switch-master/dist/css/bootstrap-switch.css">


<div class="page-header">
	<h1>
		考勤管理
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			考勤申请
		</small>
	</h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12" style="text-align: center">
        <button class="btn btn-app btn-primary btn-xs" data-html="overtime"  data-toggle="modal" data-target="#applyModal">
            <i class="ace-icon fa fa-clock-o bigger-200"></i>
                加班
        </button>
        <button class="btn btn-app btn-warning btn-xs" data-html="compensatory" data-toggle="modal" data-target="#applyModal">
            <i class="ace-icon fa fa-coffee bigger-200"></i>
                补休
        </button>
        <button class="btn btn-app btn-info btn-xs" data-html="outwork" data-toggle="modal" data-target="#applyModal">
            <i class="ace-icon fa fa-map-signs bigger-200"></i>
                外勤
        </button>
        <button class="btn btn-app btn-purple btn-xs" data-html="casualleave" data-toggle="modal" data-target="#applyModal">
            <i class="ace-icon fa fa-plug bigger-200"></i>
                事假
        </button>
        <button class="btn btn-app btn-inverse btn-xs" data-html="sickleave" data-toggle="modal" data-target="#applyModal">
            <i class="ace-icon fa fa-medkit bigger-200"></i>
                病假
        </button>
        <button class="btn btn-app btn-yellow btn-xs" data-html="trave" data-toggle="modal" data-target="#applyModal">
            <i class="ace-icon fa fa-train bigger-200"></i>
                出差
        </button>
        <!-- <button class="btn btn-app btn-danger btn-xs" data-html="marriageleave" data-toggle="modal" data-target="#applyModal">
            <i class="ace-icon fa fa-heart bigger-200"></i>
                婚假
        </button>
        <button class="btn btn-app btn-pink btn-xs" data-html="maternityleave" data-toggle="modal" data-target="#applyModal">
            <i class="ace-icon fa fa-child bigger-200"></i>
                产假
        </button> -->
        <button class="btn btn-app btn-pink btn-xs" data-html="antenatalcare" data-toggle="modal" data-target="#applyModal">
            <i class="ace-icon fa fa-stethoscope bigger-200"></i>
                产检
        </button>
        <button class="btn btn-app btn-grey btn-xs" data-html="exhibition" data-toggle="modal" data-target="#applyModal">
            <i class="ace-icon fa fa-eercast  bigger-200"></i>
                巡展
        </button>
    </div>
</div>
<div id="applyModal" class="modal fade" tabindex="-1" style="text-align: center;">
    <div class="modal-dialog" role="archiveModal">
        <div class="modal-content" >

            <div class="modal-body">
            </div>

            <div class="modal-footer">
                <button type="button" id="submit-apply" class="btn btn-sm btn-success pull-right">
                    提交申请
                    <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                </button>
                <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<script src="__PUBLIC__/components/fuelux/js/spinbox.js"></script>
<script src="__PUBLIC__/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="__PUBLIC__/assets/js/src/elements.spinner.js"></script>
<script src="__PUBLIC__/components/chosen/chosen.jquery.js"></script>
<script src="__PUBLIC__/components/jquery.gritter/js/jquery.gritter.js"></script>
<script src="__PUBLIC__/components/bootstrap-switch-master/dist/js/bootstrap-switch.js"></script>
<script>
    $(function(){
       
        /*根据不同申请类型调用弹窗*/
        $(".btn-app").on("click",function(){
            $.ajax({
                url:"{:U('getApplyHtml')}",
                data:{html:$(this).data("html")},
                type:"post",
                dataType:"json",
                success:function(data){
                    
                    $("#applyModal .modal-body").html(data.html)
                    //初始化后日期选择器
                    var sDate=nowDate();
                    
                    $('#date-schedule').datepicker({autoclose: true,todayHighlight: true,startDate:sDate,ignoreReadonly:true,language:"cn"})
                    
                    //初始化加班小时选择器
                    $('#aapply_days').ace_spinner({value:1,min:1,max:2,step:1, on_sides: true, icon_up:'ace-icon fa fa-plus bigger-110', icon_down:'ace-icon fa fa-minus bigger-110', btn_up_class:'btn-info' , btn_down_class:'btn-info'});
    
                }
            })
        })

        // $("#applyModal").on("change","#date-schedule",function(){
        //     // console.log(nowDate());
        // })

        /*后补选择*/
        $("#applyModal").on("click","#arecord-remedy",function(){
            var nDate=nowDate();
            var sDate=seDate(nDate,31,0);


            if($(this).prop("checked")==true){
                $('#date-schedule').datepicker("setStartDate",sDate)

            }else{
                $('#date-schedule').datepicker("setStartDate",nDate)
                $('#date-schedule').datepicker("update",nDate)
            }
        })

        /*提交申请*/
        $("#submit-apply").on("click",function(){
            var datas={}
            datas["remedy"]=$("#arecord-remedy").is(":checked");
            datas["data"]={}
            $(".apply-info").each(function(){
                if(!$(this).parents(".margin-box").hasClass("hide")){
                    datas["data"][$(this).prop("name")]=$(this).val()
                }
                
                if($(this).prop("name")=="aapply_proof"){
                    if($(this).val()=="" && $(this).parents(".margin-box").hasClass("hide")==false){
                        alert("没有上传证明文件")
                        throw "proof not found";
                    }else if($(this).val()!="" && $(this).parents(".margin-box").hasClass("hide")==true){
                        console.log(this.files)
                        throw "aapply_proof";
                    }
                    
                }
            })
            
            var aapplyReason=datas["data"]["aapply_reason"]
            if(aapplyReason.length<5){
                alert("请认真填写理由");
                return;
            }
            if(datas["data"]["aapply_project"]<=0 && datas["data"]["aapply_approve"]===null){
                alert("项目名称和主管/组长必须选择一个")
                return;
            }

            datas["type"]=datas["data"]["aapply_type"]
            $.ajax({
                url:"{:U('submitApply')}",
                data:datas,
                type:"post",
                dataType:"html",
                success:function(data){
                    console.log(data);
                }
            })
        })

    })

    /*获取服务器现在时间*/
    function nowDate(){ 
        var tempNTime;
        $.ajax({
            url:"{:U('getNowTime')}",
            data:{timetype:1},
            type:"post",
            dataType:"html",
            async:false,
            success:function(data){
                tempNTime=data;
            }
        })
        return tempNTime;
    }
    /**
     * 根据现在时间获取以前指定时间和以后指定时间
    */
    function seDate(date,days,type){ 
        var d=new Date(date); 
        if(type>0){
            d.setDate(d.getDate()+days); 
        }else{
            d.setDate(d.getDate()-days); 
        }
        
        var month=d.getMonth()+1; 
        var day = d.getDate(); 
        if(month<10){ 
            month = "0"+month; 
        } 
        if(day<10){ 
            day = "0"+day; 
        } 
        var val = d.getFullYear()+"-"+month+"-"+day; 
        return val; 
    }

</script>