<link rel="stylesheet" href="__PUBLIC__/components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">

<div class="page-header">
	<h1>
		考勤管理
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			考勤申请
		</small>
	</h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12" style="text-align: center">
        <button class="btn btn-app btn-primary btn-xs" data-html="overtime"  data-toggle="modal" data-target="#applyModal">
            <i class="ace-icon fa fa-clock-o bigger-200"></i>
                加班
        </button>
        <button class="btn btn-app btn-warning btn-xs" data-toggle="modal" data-target="#applyModal">
            <i class="ace-icon fa fa-coffee bigger-200"></i>
                补休
        </button>
        <button class="btn btn-app btn-info btn-xs" data-toggle="modal" data-target="#applyModal">
            <i class="ace-icon fa fa-map-signs bigger-200"></i>
                外勤
        </button>
        <button class="btn btn-app btn-purple btn-xs" data-toggle="modal" data-target="#applyModal">
            <i class="ace-icon fa fa-plug bigger-200"></i>
                事假
        </button>
        <button class="btn btn-app btn-inverse btn-xs" data-toggle="modal" data-target="#applyModal">
            <i class="ace-icon fa fa-medkit bigger-200"></i>
                病假
        </button>
        <button class="btn btn-app btn-yellow btn-xs" data-toggle="modal" data-target="#applyModal">
            <i class="ace-icon fa fa-train bigger-200"></i>
                出差
        </button>
        <button class="btn btn-app btn-danger btn-xs" data-toggle="modal" data-target="#applyModal">
            <i class="ace-icon fa fa-heart bigger-200"></i>
                婚假
        </button>
        <button class="btn btn-app btn-pink btn-xs" data-toggle="modal" data-target="#applyModal">
            <i class="ace-icon fa fa-child bigger-200"></i>
                产假
        </button>
    </div>
</div>
<div id="applyModal" class="modal fade" tabindex="-1" style="text-align: center;">
    <div class="modal-dialog" role="archiveModal">
        <div class="modal-content" >

            <div class="modal-body">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-success pull-right">
                    提交申请
                    <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                </button>
                <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<script src="__PUBLIC__/components/fuelux/js/spinbox.js"></script>
<script src="__PUBLIC__/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="__PUBLIC__/assets/js/src/elements.spinner.js"></script>
<script src="__PUBLIC__/components/chosen/chosen.jquery.js"></script>
<script>
    $(function(){
       

        $(".btn-app").on("click",function(){
            $.ajax({
                url:"{:U('getApplyHtml')}",
                data:{html:$(this).data("html")},
                type:"post",
                dataType:"json",
                success:function(data){
                    $("#applyModal .modal-body").html(data.html)
                }
            })
        })
        $("#applyModal").on("change","#date-schedule",function(){
            console.log(nowDate());
        })
        $("#applyModal").on("click","#arecord-remedy",function(){

            if($(this).prop("checked")==true){
                $('#date-schedule').datepicker("setStartDate","2017-01-01")
            }else{
                $('#date-schedule').datepicker("setStartDate",nowDate())
                $('#date-schedule').datepicker("update",nowDate())
            }
        })
    })

    function nowDate(){
        var myDate=new Date();
        return myDate.getFullYear()+"-"+(myDate.getMonth()+1)+"-"+myDate.getDate();
    }
</script>