<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Draggabble Widget Boxes with Persistent Position and State" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />


		<link rel="stylesheet" href="__PUBLIC__/assets/css/bootstrap.css" />
		<link rel="stylesheet" href="__PUBLIC__/components/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="__PUBLIC__/components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" />

		<!-- <link rel="stylesheet" href="__PUBLIC__/components/_mod/jquery-ui.custom/jquery-ui.custom.css" /> -->


		<!-- <link rel="stylesheet" href="__PUBLIC__/assets/css/ace-fonts.css" /> -->
		<link rel="stylesheet" href="__PUBLIC__/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
		<style>
			.tabbable ul li{width: 50%;}
			#checkin-way{padding-top:3px;padding-left: 3px; }
			#accordion .panel-body{text-align: center;}
			#imageModal .modal-body img{width:90%;}
		</style>
    </head>
    <body>
    <div class="page-content">
    	<div class="row">
    		<div class="row" style="text-align: center;">
    			<div class="width-50 label label-info label-xlg arrowed-in arrowed-in-right">
					<div class="inline position-relative">
						<i class="ace-icon fa fa-user light-green"></i>
						&nbsp;
						<span class="white">{$user_name}</span>
					</div>
				</div>
    		</div>
    		
    		<div class="widget-box" id="widget-box-1">

				<div class="widget-body">
					<div class="widget-main">
						<div class="">
							<!-- #section:elements.accordion -->
							<div id="accordion" class="accordion-style1 panel-group">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
												<i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
												&nbsp;正常上下班打卡
											</a>
										</h4>
									</div>

									<div class="panel-collapse collapse in checkinType" id="collapseOne" name="normalCheckin">
										<div class="panel-body">
											{$normalCheckin}
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
												<i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
												&nbsp;加班打卡
											</a>
										</h4>
									</div>

									<div class="panel-collapse collapse checkinType" id="collapseTwo" name="overtimeCheckin">
										<div class="panel-body">
											<!-- <button class="btn btn-primary">
												<i class="ace-icon fa fa-clock-o align-top bigger-125"></i>
												开始加班
											</button>
											<button class="btn disabled">
												<i class="ace-icon fa fa-hand-peace-o align-top bigger-125"></i>
												结束加班
											</button> -->
											{$overtimeCheckin}
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
												<i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
												&nbsp;外勤打卡
											</a>
										</h4>
									</div>

									<div class="panel-collapse collapse checkinType" id="collapseThree" name="outCheckin">
										<div class="panel-body">
											<!-- <button class="btn btn-purple">
												<i class="ace-icon fa fa-sign-out align-top bigger-125"></i>
												开始外勤
											</button>
											<button class="btn disabled">
												<i class="ace-icon fa fa-circle-o-notch align-top bigger-125"></i>
												结束外勤
											</button> -->
											{$outCheckin}
										</div>
									</div>
								</div>
							</div>

						</div>
						<div class="">
							<label>
								<input name="monitor" class="ace ace-switch ace-switch-4 btn-rotate" type="checkbox" />
								<span class="lbl"><span style="display: inline-block;line-height: 24px;font-size: 18px;">&nbsp;<i class="ace-icon fa fa-video-camera"></i>&nbsp;是否查监控拍照</span></span>

							</label>
							<div class="hr hr-dotted"></div>
							<div class="input-group hide">
								
								<input id="date-monitor" type="text" value="2017-08-15 21:05:00" class="form-control" />
								<span class="input-group-addon">
									<i class="fa fa-clock-o bigger-110"></i>
								</span>
							</div>
							<div class="hr hr-dotted"></div>
						</div>
						<div class="tabbable">
							<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="checkin-way">
								<li class="active">
									<a data-toggle="tab" class="checkinway" data-checkinway='1' href="#home4">定位打卡</a>
								</li>

								<li>
									<a data-toggle="tab" class="checkinway" data-checkinway='2' href="#profile4">拍照打卡</a>
								</li>
							</ul>

							<div class="tab-content">
								<div id="home4" class="tab-pane in active">
									<div class="profile-user-info profile-user-info-striped">
										<div class="profile-info-row">
											<div class="profile-info-name"> 位置坐标 </div>

											<div class="profile-info-value">
												<span class="editable" id="latlong"></span>
												<i class="fa fa-map-marker bigger-175 primary" aria-hidden="true"></i>
											</div>
										</div>
										<div class="profile-info-row">
											<div class="profile-info-name"> 定位地址： </div>

											<div class="profile-info-value">
												<span class="editable" id="position"></span>
											</div>
										</div>
									</div>

								</div>

								<div id="profile4" class="tab-pane">
									<button class="btn btn-pink chooseImage" ><i class="ace-icon fa fa-camera align-top bigger-125"> 拍照</i></button>
									<!-- data-toggle="modal" data-target="#imageModal" -->
								</div>
							</div>
						</div>

						<input type="hidden" class="checkin-info" data-title="人员编码" name="acheckin_code" value="{$user_code}"/>
						<input type="hidden" class="checkin-info" data-title="打卡方式" name="acheckin_checkinway" value="0" />
						<input type="hidden" class="checkin-info" data-title="打卡类型" name="acheckin_type" value="0"/>
						<input type="hidden" class="checkin-info" data-title="开始结束" name="acheckin_timetype" value="0"/>
						<input type="hidden" class="checkin-info" data-title="图片" name="acheckin_picture" value="0"/>

						<button class="btn btn-primary btn-block" id="submit-checkin"><i class="ace-icon fa fa-hand-o-up align-top bigger-125">&nbsp;提交记录&nbsp;</i></button>
					</div>
				</div>
			</div> 
   			
   		</div>
    </div>

   		
   	<script src="__PUBLIC__/components/jquery/dist/jquery.js"></script>	 
	<script src="__PUBLIC__/components/bootstrap/dist/js/bootstrap.js"></script>			
	<script src="__PUBLIC__/components/moment/moment.js"></script>
	<script src="__PUBLIC__/components/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
	<script src="__PUBLIC__/assets/js/src/ace.js"></script>
	<script src="__PUBLIC__/assets/js/src/ace.basics.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>



	<script type="text/javascript">
		jQuery(function($) {
			var images = {localId: [],serverId: []};
			set_monitor_date()
			$("input[name='monitor']").on("click",function(){
				set_monitor_date()
			})
			/*选择时间*/
			$('#date-monitor').datetimepicker({
				format: 'YYYY-MM-DD H:mm:ss',//use this option to display seconds
				icons: {
					time: 'fa fa-clock-o',
					date: 'fa fa-calendar',
					up: 'fa fa-chevron-up',
					down: 'fa fa-chevron-down',
					previous: 'fa fa-chevron-left',
					next: 'fa fa-chevron-right',
					today: 'fa fa-arrows ',
					clear: 'fa fa-trash',
					close: 'fa fa-times'
				}
			})
			.on("dp.change",function(){
				get_attend_type($(this).val())
			})
			.next().on(ace.click_event, function(){
				$(this).prev().focus();
			})
			//微信js
		    wx.config({
		        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
		        appId: '{$SignPackage["appId"]}', // 必填，企业微信的cropID
		        timestamp:"{$SignPackage['timestamp']}" , // 必填，生成签名的时间戳
		        nonceStr: '{$SignPackage["nonceStr"]}', // 必填，生成签名的随机串
		        signature: '{$SignPackage["signature"]}',// 必填，签名，见附录1
		        jsApiList: ["chooseImage","previewImage","uploadImage","downloadImage","getLocation",] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
		    });
		    wx.ready(function(){
		    		/**
		    		 * [getLocation 获取定位]
		    		 * @param  {[type]} res) {				                   var latitude [description]
		    		 * @return {[type]}      [description]
		    		 */
		    	    wx.getLocation({
				        type: 'gcj02', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
				        success: function (res) {
				            var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
				            var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
				            var speed = res.speed; // 速度，以米/每秒计
				            var accuracy = res.accuracy; // 位置精度
				            $("#latlong").text(latitude+"-"+longitude)
				            $.ajax({
				            	url:"{:U('getPosition')}",
				            	type:"POST",
				            	dataType:"html",
				            	data:{latitude:latitude,longitude:longitude},
				            	success:function(data){
				            		$("#position").text(data)
				            		$(".fa-map-marker").on("click",function(){
				            			wx.openLocation({
									        latitude: latitude, // 纬度，浮点数，范围为90 ~ -90
									        longitude: longitude, // 经度，浮点数，范围为180 ~ -180。
									        name: '当前位置', // 位置名
									        address: 'data', // 地址详情说明
									        scale: 28, // 地图缩放级别,整形值,范围从1~28。默认为16
									    });
				            		})
				            	}
				            })
				             
				       //          
				        }
				    });

		    	    /*点击拍照触发拍照*/
		    	    $(".chooseImage").on("click",function(){
		    	    	images = {localId: [],serverId: []};
						if(images.localId!==""){
							images.localId=null;
						}
						/*调用jssdk 拍照*/
		    	    	wx.chooseImage({
					        count: 1, // 默认9
					        sizeType: ['compressed'], // 可以指定是原图还是压缩图，默认二者都有
					        sourceType: ['camera'], // 可以指定来源是相册还是相机，默认二者都有
					        success: function (res) {

					        	/*生成图片预览按钮*/
					        	if($(".previewImage").html()==undefined){
					        		$(".chooseImage").after('&nbsp;&nbsp;<button class="btn btn-warning previewImage" ><i class="ace-icon fa fa-image align-top bigger-125"> 预览照片</i></button>')
					        	}
					        	
					            images.localId = res.localIds;
					            

					            /*上传图片*/	
				                wx.uploadImage({
							        localId: images.localId[0], // 需要上传的图片的本地ID，由chooseImage接口获得
							        isShowProgressTips: 1, // 默认为1，显示进度提示
							        success: function (res) {
							            var serverId = res.serverId; // 返回图片的服务器端ID
							            $("input[name='acheckin_timetype']").val(serverId)
							        }
							    });

					            $("#profile4").on("click",".previewImage",function(){
					            	/*预览图片*/
					            	wx.previewImage({
								        current: images.localId[0], // 当前显示图片的http链接
								        urls: [images.localId[0]] // 需要预览的图片http链接列表
								    });
					            })
					        }
					    });
		    	    })

		    });
		    /*更改打卡类型，定位还是拍照*/
		    $("#accordion").on("click","button",function(){
		    	if(!$(this).hasClass("active")){
		    		$("input[name='acheckin_type']").val($(this).data("type"))
		    		$("input[name='acheckin_timetype']").val($(this).data("timetype"))
		    	}else{
		    		$("input[name='acheckin_type']").val("0")
		    		$("input[name='acheckin_timetype']").val("0")
		    	}
		    	
		    })
		    /*提交打卡*/
		    $("#submit-checkin").on("click",function(){
		    	var datas={}
		    	datas["data"]={}
		    	$(".checkin-info").each(function(){
		    		var name=$(this).attr("name")
		    		var val=$(this).val()
		    		datas["data"][name]=val
		    		if(name!="acheckin_picture"){
		    			if(val==0){
		    				alert($(this).data("title")+"没选择")
		    				return false
		    			}
		    		}
		    	})
		    	if(datas["data"]["acheckin_checkinway"]==2 && datas["data"]["acheckin_picture"]==0){
		    		alert("请拍照")
		    		return false
		    	}
		    	console.log(datas)
		    	// $.ajax({
		    	// 	url:"{:U('submit_checkin')}",
		    	// 	type:"post",
		    	// 	data:{picture:$("input[name='acheckin_timetype']").val()},
		    	// 	success:function(data){
		    	// 		alert(data)
		    	// 	}
		    	// })
		    })

		    /*改变打卡方式，定位1，拍照2*/
		    $('.checkinway').on("click",function() {
				$("input[name='acheckin_checkinway']").val($(this).data("checkinway"))
			})
		})
		
		/**
		 * [set_monitor_date 设置监控时间显示]
		 */
		function set_monitor_date(){
			var date =new Date();
			var year=date.getFullYear()
			var month=date.getMonth()+1
			var day=date.getDate();
			var hours=date.getHours();
			var minutes=date.getMinutes();
			var seconds=date.getSeconds();
			// console.log(year+"-"+month+"-"+day+" "+hours+":"+minutes+":"+seconds)
			$('#date-monitor').val(year+"-"+month+"-"+day+" "+hours+":"+minutes+":"+seconds)
			if($("input[name='monitor']").is(":checked")){
				$("#date-monitor").parent().removeClass("hide")

				$(".checkinway").eq(0).parent().addClass("hide")
				$($(".checkinway").eq(0).attr("href")).addClass("hide")
				$(".checkinway").eq(1).parent().addClass("active")
				$($(".checkinway").eq(1).attr("href")).addClass("active")
				$("input[name='acheckin_checkinway']").val(2)
			}else{
				$(".checkinway").eq(0).parent().removeClass("hide")
				$($(".checkinway").eq(0).attr("href")).removeClass("hide")

				$(".checkinway").eq(1).parent().removeClass("active")
				$($(".checkinway").eq(1).attr("href")).removeClass("active")

				$(".checkinway").eq(0).parent().addClass("active")
				$($(".checkinway").eq(0).attr("href")).addClass("active")

				$("#date-monitor").parent().addClass("hide")
				$("input[name='acheckin_checkinway']").val(1)
				get_attend_type($('#date-monitor').val())
			}
		}
		/*获取考勤类型状态*/
		function get_attend_type(thisDate){
			$.ajax({
				url:"{:U('checkin')}",
				data:{thisDay:thisDate},
				type:"post",
				dataType:"json",
				success:function(data){
					// console.log(data)
					for(checkinType in data){
						$(".checkinType[name='"+checkinType+"']").find(".panel-body").html(data[checkinType])
					}
				}
			})
		}
	</script>
    </body>
</html>