<div class="row">
    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name"> 申请人 </div>
    
            <div class="profile-info-value">
                <span class="editable editable-click" id="username">{$applyInfo.aapply_code}</span>
            </div>
        </div>
    
        <div class="profile-info-row">
            <div class="profile-info-name"> 申请类型 </div>
    
            <div class="profile-info-value">
                <i class="fa fa-map-marker light-orange bigger-110"></i>
                <span class="editable editable-click" id="country">{$applyInfo.aapply_type}</span>
            </div>
        </div>
    
        <div class="profile-info-row">
            <div class="profile-info-name"> 提交时间 </div>
    
            <div class="profile-info-value">
                <span class="editable editable-click" id="age">{$applyInfo.aapply_addtime}</span>
            </div>
        </div>
    
        <div class="profile-info-row">
            <div class="profile-info-name"> 计划时间 </div>
    
            <div class="profile-info-value">
                <span class="editable editable-click" id="signup">{$applyInfo.aapply_schedule}</span>
            </div>
        </div>
    
        <div class="profile-info-row">
            <div class="profile-info-name"> Last Online </div>
    
            <div class="profile-info-value">
                <span class="editable editable-click" id="login">3 hours ago</span>
            </div>
        </div>
    
        <div class="profile-info-row">
            <div class="profile-info-name"> About Me </div>
    
            <div class="profile-info-value">
                <span class="editable editable-click" id="about">Editable as WYSIWYG</span>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
            
    })
</script>