<volist name="aapplyArray" id="aapply">
        <tr>
            <td class="">{$aapply.aapply_types}</td>
            <td>
                {$aapply.aapply_addtime}
            </td>
            <td class="hidden-480">
                {$aapply.aapply_schedule}
            </td>
            <td class="hidden-480">
                {$aapply.aapply_days}/{$aapply.aapply_hours}
            </td>
            <td class="hidden-480">
                {$aapply.aapply_reason}
            </td>
            <td class="hidden-480">
                    <i class="ace-icon fa fa-map-marker"></i>
            </td>
        </tr>
</volist>