<style>
    .profile-info-value .btn{margin:0 2px;}
</style>
<div class="row">
    <input type="hidden" id="apply-id" value="{$applyInfo.aapply_id}">
    <div class="profile-user-info">
        <div class="profile-info-row">
            <div class="profile-info-name"> 申请人 </div>

            <div class="profile-info-value">
                <span>{$applyInfo.aapply_codes}</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> 申请类型 </div>

            <div class="profile-info-value">
                <span>{$applyInfo.aapply_types}</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> 时间类型 </div>

            <div class="profile-info-value">
                <span>{$applyInfo.aapply_indays}</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> 提交时间 </div>

            <div class="profile-info-value">
                <span>{$applyInfo.aapply_addtime}</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> 计划时间 </div>

            <div class="profile-info-value">
                <span>{$applyInfo.aapply_schedule}</span>
            </div>
        </div>
        <div class="profile-info-row">
            <div class="profile-info-name"> 时间数 </div>

            <div class="profile-info-value">
                <span>{$applyInfo.aapply_days}</span>
            </div>
        </div>
        <div class="profile-info-row">
            <div class="profile-info-name"> 申请理由 </div>

            <div class="profile-info-value">
                <span>{$applyInfo.aapply_reason}</span>
            </div>
        </div>
        <div class="profile-info-row">
            <div class="profile-info-name"> 涉及项目 </div>

            <div class="profile-info-value">
                <span>{$applyInfo.aapply_projcet}</span>
            </div>
        </div>
        <div class="profile-info-row">
            <div class="profile-info-name"> 证明文件 </div>

            <div class="profile-info-value">
                <input type="file" name="aapply_proof" class="input-files apply-info" />
            </div>
        </div>
        <div class="profile-info-row">
            <div class="profile-info-name"> 审批状态 </div>

            <div class="profile-info-value">
                <span>{$applyState}</span>
            </div>
        </div>
        <div class="profile-info-row">
            <div class="profile-info-name"> 审批备注 </div>

            <div class="profile-info-value">
                <textarea  class="form-control" {$readonly} placeholder="审批备注">{$applyInfo.aapply_remark}</textarea>
            </div>
        </div>
        <div class="profile-info-row">
            <div class="profile-info-name"> 操作 </div>
            <div class="profile-info-value">
                {$conHtml}
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/assets/js/src/elements.fileinput.js"></script>
<script>
    $(function(){
        //初始化input file 样式
        $('.input-files').ace_file_input({
            no_file:'请上传pdf文件',
            btn_choose:'选择文件',
            btn_change:'修改文件',
            droppable:true,
            maxSize:2000000,
            onchange:true,
            thumbnail:true,
            allowExt:  ['pdf']
        }).on('file.error.ace', function(event, info) {
            for(index in info.error_count){
                if(info.error_count[index]==1){
                    console.log(index+"错误")
                }
                
            }
        })
        /*修改申请状态*/
        $('.state-con').on("click",function(){
            var datas={}
            datas["aapply_id"]=$("#apply-id").val();
            datas["aapply_state"]=$(this).data("state")
            $.ajax({
                url:"{:U('setApplyState')}",
                data:datas,
                type:"post",
                dataType:"json",
                success:function(data){
                    alert(data.msg)
                    if(data.status>0){
                        $('#applyModal').modal('toggle');
                        $("#search-btn").click();
                    }
                }
            })
        })
            
    })
</script>