<volist name="approveArray" id="approve">
    <div class="itemdiv memberdiv apply-id" data-applyid="{$approve.aapply_id}">
        <div class="user">
            <if condition="is_http($approve['aapply_avatar']) eq true">
                <img alt="{$approve.aapply_username}'s avatar" src="{$approve['aapply_avatar']}">
                <!-- <img id="avatar" class="editable img-responsive" alt="Alex's Avatar" src="{$user['user_avatar']}" /> -->
            <else />
                <img alt="{$approve.aapply_username}'s avatar" src="__PUBLIC__/{$approve['aapply_avatar']}">
                <!-- <img id="avatar" class="editable img-responsive" alt="Alex's Avatar" src="__PUBLIC__/{$user['user_avatar']}" /> -->
            </if>
        </div>
        
        <div class="body">
            <div class="name">
                <a href="#">{$approve.aapply_username}</a>
            </div>
            <div >
                <i class="ace-icon fa fa-cogs "></i>
                {$approve.aapply_types}<span class="green">&nbsp;{$approve.aapply_days}天&nbsp;/{$approve.aapply_hours}小时&nbsp;</span>
            </div>
            <div class="time">
                <i class="ace-icon fa fa-clock-o"></i>
                {$approve.aapply_schedule}&nbsp;
            </div>
            <div >
                <i class="ace-icon fa fa-pencil-square-o"></i>
                &nbsp;{$approve.aapply_reason}&nbsp;
            </div>
            <div>
                {$state[$approve["aapply_state"]]}
            </div>
        </div>
        <div class="space-4"></div>
    </div>
</volist>