<link rel="stylesheet" href="__PUBLIC__/components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
<style>

	input.ace.ace-switch.ace-switch-4[type="checkbox"]:checked + .user-sex-span::before{
		background:#D15B47;
	}
	input.ace.ace-switch.ace-switch-4[type="checkbox"] + .user-sex-span::before{
		background:#82AF6F;
	}
</style>
<div class="page-header">
	<h1>
		用户信息
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			新增用户
		</small>
	</h1>
</div><!-- /.page-header -->

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-4">
		<div class="widget-box">
			<div class="widget-header">
				<h5 class="widget-title smaller"><i class="ace-icon fa fa-user bigger-110"></i>人员信息</h5>
				<div class="widget-toolbar"></div>
			</div>
			<div class="widget-body">
					<div class="widget-main">
						<form class="form-horizontal"  id="user-form">
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 姓名 </label>
							<div class="col-sm-9">
								<input id="form-field-1" placeholder="姓名" name="user_name" class="col-xs-10 col-sm-10 user-finfo" data-label="姓名" type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 用户编码 </label>
							<div class="col-sm-9">
								<input id="form-field-1" placeholder="用户编码" name="user_code" readonly="" class="col-xs-10 col-sm-10 user-finfo" data-label="用户编码" type="text" value="{$user_code|default=''}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 所属公司 </label>
							<div class="col-sm-8">
								<select class="chosen-select form-control user-finfo" data-label="所属公司"  name="user_company" data-placeholder="选择所属公司">
									<volist name="user_companys" id="company">
										<option value="{$company.config_key}">{$company.config_value}</option>
									</volist>
									
								</select>
								<!-- <input id="form-field-1" placeholder="所属公司" class="col-xs-10 col-sm-10" type="text"> -->
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 所属部门 </label>
							<div class="col-sm-8">
								<!-- <input id="form-field-1" placeholder="所属部门" class="col-xs-10 col-sm-10" type="text"> -->
								<select class="chosen-select form-control user-finfo" data-label="所属部门" name="user_group" data-placeholder="选择所属部门">
									<volist name="user_groups" id="groups">
										<option value="{$groups.config_key}">{$groups.config_value}</option>
									</volist>
								</select>

							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 职位 </label>
							<div class="col-sm-9">
								<input id="form-field-1" placeholder="职位" name="user_place" data-label="职位" class="user-finfo col-xs-10 col-sm-10" type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 角色 </label>
							<div class="col-sm-8">
								<select class="chosen-select form-control user-finfo" data-label="角色" name="user_role" data-placeholder="选择对应角色">
									<volist name="user_roles" id="roles">
										<option value="{$roles.config_key}">{$roles.config_value}</option>
									</volist>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 上级主管 </label>
							<div class="col-sm-9">
								<input id="form-field-1" placeholder="上级主管" name="user_higher" data-label="上级主管" class="user-finfo col-xs-10 col-sm-10" type="text">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 电话号码 </label>
							<div class="col-sm-9">
								<input id="form-field-1" placeholder="电话号码" name="user_phone" class="col-xs-10 col-sm-10 user-finfo" data-label="电话号码" type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 性别 </label>
							<div class="col-sm-9">
								<input type="checkbox" id="user-sex-box" name="user_sex" data-label="性别" class="user-finfo ace ace-switch ace-switch-4 btn-flat" />
								<span class="lbl user-sex-span" data-lbl="女&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;男"></span>

							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 生日 </label>
							<div class="col-sm-8">
								<div class="input-group">
									<input class="form-control date-picker user-finfo" data-label='生日' name="user_born" id="id-date-born" data-date-format="yyyy-mm-dd" type="text">
									<span class="input-group-addon">
										<i class="fa fa-calendar bigger-110"></i>
									</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 入职时间 </label>
							<div class="col-sm-8">
								<div class="input-group">
									<input class="form-control date-picker user-finfo" data-label="入职时间" name="user_entry" id="id-date-entry" data-date-format="yyyy-mm-dd" type="text">
									<span class="input-group-addon">
										<i class="fa fa-calendar bigger-110"></i>
									</span>
								</div>
							</div>
						</div>
						</form>
						<div class="widget-toolbox padding-8 clearfix">
							<button class="btn btn-xs btn-success pull-right" id="submit-user">
								<i class="ace-icon fa fa-check bigger-110"></i>
								<span class="bigger-110">添加人员</span>
							</button>
						</div>
					</div>
			
		</div>
		</div>
		
	</div>
</div>

<script src="__PUBLIC__/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
	<script>
		$(function(){
			set_sex()
			//初始化后日期选择器
			$('#id-date-born').datepicker({
			   autoclose: true,
			   todayHighlight: true
			})
			//初始化后日期选择器
			$('#id-date-entry').datepicker({
			   autoclose: true,
			   todayHighlight: true
			})
			$("#user-sex-box").on("change",function(){
				set_sex();
			})
			//提交新增人员资料
			$("#submit-user").on("click",function(){
				datas=get_form_data(".user-finfo");
				//alert(datas);
				if(datas!=false){
					$.ajax({
						url:"{:U('create')}",
						type:"post",
						data:datas,
						datatype:"html",
						success:function(data){
							alert(data);
						}
					})
				}
				
			})
		})
		function set_sex(){
			if($("#user-sex-box").is(":checked")){
				$("#user-sex-box").val("女")
			}else{
				$("#user-sex-box").val("男")
			}
		}
		

	</script>
