<div class="page-header">
	<h1>
		用户信息
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			用户列表
		</small>
	</h1>
</div><!-- /.page-header -->

<div class="row">
	<div class="">
		
	</div>
</div>

<script src="__PUBLIC__/components/datatables/media/js/jquery.dataTables.js"></script>
<script src="__PUBLIC__/components/_mod/datatables/jquery.dataTables.bootstrap.js"></script>
<script src="__PUBLIC__/components/_mod/datatables/jquery.dataTables.bootstrap.js "></script>

	<script>
		var myTable =  $('#my-table').dataTable({bAutoWidth: false,aoColumns: [{ "bSortable": false },null, null,null, null, null,{ "bSortable": false }]})
	</script>
