<!-- <link rel="stylesheet" href="__PUBLIC__/components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css"> -->
<style>


</style>
<div class="page-header">
	<h1>
	用户信息	
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			职位分配
		</small>
	</h1>
</div><!-- /.page-header -->

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6">
		<div class="widget-box">
			<div class="widget-header">
				<h5 class="widget-title smaller"><i class="ace-icon fa fa-cubes bigger-110"></i>公司管理</h5>
				<div class="widget-toolbar"></div>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<div class="row">
						<div class="col-sm-6 form-group">
							<p class="text-warning blue">公司列表 <i class="ace-icon fa fa-list bigger-110"></i></p>
							<select class="form-control" name="company"  multiple="multiple">
							 	<volist name="user_companys" id="company">
							 		<option class="ubase-select" data-input="company-data" value="{$company.config_key}">{$company.config_value}</option>
							 	</volist>
							</select>
						</div>
						<div class="col-sm-6 form-horizontal">
						<p class="text-warning blue">名称修改 <i class="ace-icon fa fa-edit bigger-110"></i></p>
							<div class="form-group">
								<div class="col-sm-12">
									<input type="text" id="company-data" data-val="" placeholder="公司名称" class="col-xs-10 col-sm-10">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="widget-toolbox padding-8 clearfix" data-type="company" data-input="company-data">
					<button class="btn btn-xs btn-success add-button" >
						<i class="ace-icon fa fa-plus-square bigger-110"></i>
						<span class="bigger-110">新增公司</span>
					</button>
					<button class="btn btn-xs btn-primary update-button" >
						<i class="ace-icon fa fa-edit bigger-110"></i>
						<span class="bigger-110">修改公司</span>
					</button>
					<button class="btn btn-xs btn-danger del-button" >
						<i class="ace-icon fa fa-close bigger-110"></i>
						<span class="bigger-110">删除公司</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6">
		<div class="widget-box">
			<div class="widget-header">
				<h5 class="widget-title smaller"><i class="ace-icon fa fa-group bigger-110"></i>部门管理</h5>
				<div class="widget-toolbar"></div>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<div class="row">
						<div class="col-sm-4 form-group">
						<p class="text-warning blue">部门列表 <i class="ace-icon fa fa-list bigger-110"></i></p>
							<select class="form-control" id="form" name="group" multiple="multiple" data-lower="subgroup-select-box">
							 	<volist name="user_groups" id="groups">
							 		<option class="ubase-select" data-input="groups-data" data-type="subgroup" value="{$groups.group_id}">{$groups.group_name}</option>
							 	</volist>
							</select>
						</div>
						<div class="col-sm-4 form-group">
						<p class="text-warning blue">分组列表 <i class="ace-icon fa fa-list bigger-110"></i></p>
							<select class="form-control" id="subgroup-select-box" name="subgroup" multiple="multiple">
							 	<volist name="user_subgroups" id="subgroups">
							 		<!-- <option class="ubase-select" data-input="subgroups-data" value="{$groups.subgroup_id}">{$subgroups.subgroup_name}</option> -->
							 	</volist>
							</select>
						</div>
						<div class="col-sm-4 form-horizontal">
						<p class="text-warning blue">名称修改 <i class="ace-icon fa fa-edit bigger-110"></i></p>
							<div class="form-group">
								<div class="col-sm-12">
									<input type="text" id="groups-data" data-val="" placeholder="部门名称" class="col-xs-10 col-sm-10">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input type="text" id="subgroup-data" data-val="" placeholder="分组名称" class="col-xs-10 col-sm-10">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="widget-toolbox padding-8 clearfix" data-type="group" data-type2="subgroup" data-input="groups-data" data-input2="subgroup-data">
					<button class="btn btn-xs btn-yellow add-button" >
						<i class="ace-icon fa fa-plus-square bigger-110"></i>
						<span class="bigger-110">新增部门</span>
					</button>
					<button class="btn btn-xs btn-purple update-button" >
						<i class="ace-icon fa fa-edit bigger-110"></i>
						<span class="bigger-110">修改部门</span>
					</button>
					<button class="btn btn-xs btn-pink del-button" >
						<i class="ace-icon fa fa-close bigger-110"></i>
						<span class="bigger-110">删除部门</span>
					</button>
					<button class="btn btn-xs btn-success add-button" >
						<i class="ace-icon fa fa-plus-square bigger-110"></i>
						<span class="bigger-110">新增分组</span>
					</button>
					<button class="btn btn-xs btn-primary update-button" >
						<i class="ace-icon fa fa-edit bigger-110"></i>
						<span class="bigger-110">修改分组</span>
					</button>
					<button class="btn btn-xs btn-danger del-button" >
						<i class="ace-icon fa fa-close bigger-110"></i>
						<span class="bigger-110">删除分组</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="widget-box">
			<div class="widget-header">
				<h5 class="widget-title smaller"><i class="ace-icon fa fa-vcard" ></i>职位管理</h5>
				<div class="widget-toolbar"></div>
			</div>
			<div class="widget-body">
					<div class="widget-main">
						<div class="row">
							<div class="col-sm-3 form-group">
							<p class="text-warning blue">部门列表 <i class="ace-icon fa fa-list bigger-110"></i></p>
								<select class="form-control" name="group"  multiple="multiple" data-lower="place-select-box">
								 	<volist name="user_groups" id="groups" >
								 		<option  class="ubase-select" data-type="place" data-input="place-group-data" value="{$groups.group_id}">{$groups.group_name}</option>
								 	</volist>
								</select>
							</div>
							<div class="col-sm-3 form-group">
							<p class="text-warning blue">分组列表 <i class="ace-icon fa fa-group bigger-110"></i></p>
								<select class="form-control" name="subgroup" id="subgroup-select-box2" multiple="multiple">
								 	<volist name="user_subgroups" id="subgroups">
								 		<!-- <option class="ubase-select" data-input="subgroups-data" value="{$groups.subgroup_id}">{$subgroups.subgroup_name}</option> -->
								 	</volist>
								</select>
							</div>
							<div class="col-sm-3 form-group">
							<p class="text-warning blue">职位列表 <i class="ace-icon fa fa-user bigger-110"></i></p>
								<select class="form-control" id="place-select-box" name="place" multiple="multiple">
								 	<volist name="user_place" id="place">
								 		<!-- <option class="ubase-select" data-input="place-data" value="{$place.place_id}">{$place.place_name}</option> -->
								 	</volist>
								</select>
							</div>
							<div class="col-sm-3 form-horizontal">
							<p class="text-warning blue">名称修改 <i class="ace-icon fa fa-edit bigger-110"></i></p>
								<div class="form-group">
									<div class="col-sm-12">
										<input type="text" id="place-group-data" data-val="" placeholder="部门名称" class="col-xs-10 col-sm-10">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<input type="text" id="subgroup-data2" data-val="" placeholder="分组名称" class="col-xs-10 col-sm-10">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<!-- <input type="text" id="place-data" data-val="" placeholder="职位名称" class="col-xs-10 col-sm-10"> -->
										<span class="input-icon input-icon-right col-xs-10 col-sm-10" style="padding:0;">
											<input type="text" id="place-data" data-val="" class="form-control" placeholder="职位名称">
											<i class="ace-icon" title="打勾表示该职位属于部门/小组组长有审核权限"><input type="checkbox" id="place-manager" style="width:20px;height:20px"/></i>
										</span>
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="widget-toolbox padding-8 clearfix" data-type="place" data-input="place-data">
						<button class="btn btn-xs btn-success add-button" >
							<i class="ace-icon fa fa-plus-square bigger-110"></i>
							<span class="bigger-110">新增职位</span>
						</button>
						<button class="btn btn-xs btn-primary update-button" >
							<i class="ace-icon fa fa-edit bigger-110"></i>
							<span class="bigger-110">修改职位</span>
						</button>
						<button class="btn btn-xs btn-danger del-button" >
							<i class="ace-icon fa fa-close bigger-110"></i>
							<span class="bigger-110">删除职位</span>
						</button>
					</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="widget-box">
			<div class="widget-header">
				<h5 class="widget-title smaller"><i class="ace-icon fa fa-user-secret bigger-110"></i>角色管理</h5>
				<div class="widget-toolbar"></div>
			</div>
			<div class="widget-body">
					<div class="widget-main">
						<div class="row">
							<div class="col-sm-4 form-group">
							<p class="text-warning blue">角色分组 <i class="ace-icon fa fa-list-ul bigger-110"></i></p>
								<select class="form-control"  multiple="multiple" name="role" data-lower="role-select-box">
								 	<volist name="role_group" id="roleGroup">
								 		<option class="ubase-select" data-type="role" data-input="role-group-data" value="{$roleGroup.role_id}">{$roleGroup.role_name}</option>
								 	</volist>
								</select>
							</div>
							<div class="col-sm-4 form-group">
							<p class="text-warning blue">角色列表 <i class="ace-icon fa fa-id-card bigger-110"></i></p>
								<select class="form-control" id="role-select-box"  multiple="multiple" name="subrole">
								 	<volist name="role_user" id="roleUser">
								 		<!-- <option class="ubase-select" data-input="role-data" value="{$place.place_id}">{$place.place_name}</option> -->
								 	</volist>
								</select>
							</div>
							<div class="col-sm-4 form-horizontal">
								<p class="text-warning blue">名称修改 <i class="ace-icon fa fa-edit bigger-110"></i></p>
								<div class="form-group">
									<div class="col-sm-12">
										<input type="text" id="role-group-data" data-val="" placeholder="角色分组" class="col-xs-10 col-sm-10">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<input type="text" id="role-data" data-val="" placeholder="角色名称" class="col-xs-10 col-sm-10">
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="widget-toolbox padding-8 clearfix" data-type="role" data-type2="subrole" data-input="role-group-data" data-input2="role-data">
						<button class="btn btn-xs btn-yellow add-button" >
							<i class="ace-icon fa fa-plus-square bigger-110"></i>
							<span class="bigger-110">新增分组</span>
						</button>
						<button class="btn btn-xs btn-purple update-button" >
							<i class="ace-icon fa fa-edit bigger-110"></i>
							<span class="bigger-110">修改分组</span>
						</button>
						<button class="btn btn-xs btn-pink del-button" >
							<i class="ace-icon fa fa-close bigger-110"></i>
							<span class="bigger-110">删除分组</span>
						</button>
						<button class="btn btn-xs btn-success add-button" >
							<i class="ace-icon fa fa-plus-square bigger-110"></i>
							<span class="bigger-110">新增角色</span>
						</button>
						<button class="btn btn-xs btn-primary update-button" >
							<i class="ace-icon fa fa-edit bigger-110"></i>
							<span class="bigger-110">修改角色</span>
						</button>
						<button class="btn btn-xs btn-danger del-button" >
							<i class="ace-icon fa fa-close bigger-110"></i>
							<span class="bigger-110">删除角色</span>
						</button>
					</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script>
	$(function(){
		
	})

</script>
