<link rel="stylesheet" href="__PUBLIC__/components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
<style>

	input.ace.ace-switch.ace-switch-4[type="checkbox"]:checked + .user-sex-span::before{
		background:#D15B47;
	}
	input.ace.ace-switch.ace-switch-4[type="checkbox"] + .user-sex-span::before{
		background:#82AF6F;
	}
</style>
<div class="page-header">
	<h1>
		用户信息
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			新增用户
		</small>
	</h1>
</div><!-- /.page-header -->

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6">
		<div class="widget-box">
			<div class="widget-header">
				<h5 class="widget-title smaller"><i class="ace-icon fa fa-cubes bigger-110"></i>公司管理</h5>
				<div class="widget-toolbar"></div>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<div class="row">
						<div class="col-sm-6">
							<select class="form-control" id="form-field-select-2" multiple="multiple">
							 	<volist name="user_companys" id="company">
							 		<option class="ubase-select" data-input="company-data" value="{$company.config_key}">{$company.config_value}</option>
							 	</volist>
							</select>
						</div>
						<div class="col-sm-6 form-horizontal">
							<div class="form-group">
								<div class="col-sm-12">
									<input type="text" id="company-data" data-val="" placeholder="公司名称" class="col-xs-10 col-sm-10">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="widget-toolbox padding-8 clearfix">
					<button class="btn btn-xs btn-success" id="submit-user">
						<i class="ace-icon fa fa-plus-square bigger-110"></i>
						<span class="bigger-110">新增公司</span>
					</button>
					<button class="btn btn-xs btn-primary" id="submit-user">
						<i class="ace-icon fa fa-edit bigger-110"></i>
						<span class="bigger-110">修改公司</span>
					</button>
					<button class="btn btn-xs btn-danger" id="submit-user">
						<i class="ace-icon fa fa-close bigger-110"></i>
						<span class="bigger-110">删除公司</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6">
		<div class="widget-box">
			<div class="widget-header">
				<h5 class="widget-title smaller"><i class="ace-icon fa fa-group bigger-110"></i>部门管理</h5>
				<div class="widget-toolbar"></div>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<div class="row">
						<div class="col-sm-6">
							<select class="form-control" id="form-field-select-2" multiple="multiple">
							 	<volist name="user_groups" id="groups">
							 		<option class="ubase-select" data-input="groups-data" value="{$groups.group_id}">{$groups.group_name}</option>
							 	</volist>
							</select>
						</div>
						<div class="col-sm-6 form-horizontal">
							<div class="form-group">
								<div class="col-sm-12">
									<input type="text" id="groups-data" data-val="" placeholder="部门名称" class="col-xs-10 col-sm-10">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="widget-toolbox padding-8 clearfix">
					<button class="btn btn-xs btn-success" id="submit-user">
						<i class="ace-icon fa fa-plus-square bigger-110"></i>
						<span class="bigger-110">新增部门</span>
					</button>
					<button class="btn btn-xs btn-primary" id="submit-user">
						<i class="ace-icon fa fa-edit bigger-110"></i>
						<span class="bigger-110">修改部门</span>
					</button>
					<button class="btn btn-xs btn-danger" id="submit-user">
						<i class="ace-icon fa fa-close bigger-110"></i>
						<span class="bigger-110">删除部门</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="widget-box">
			<div class="widget-header">
				<h5 class="widget-title smaller"><i class="ace-icon fa fa-vcard" ></i>职位管理</h5>
				<div class="widget-toolbar"></div>
			</div>
			<div class="widget-body">
					<div class="widget-main">
						<div class="row">
							<div class="col-sm-4">
								<select class="form-control" id="form-field-select-2" multiple="multiple" data-lower="place-select-box">
								 	<volist name="user_groups" id="groups" >
								 		<option  class="ubase-select" data-type="place" data-input="place-group-data" value="{$groups.group_id}">{$groups.group_name}</option>
								 	</volist>
								</select>
							</div>
							<div class="col-sm-4">
								<select class="form-control" id="place-select-box" multiple="multiple">
								 	<volist name="user_place" id="place">
								 		<!-- <option class="ubase-select" data-input="place-data" value="{$place.place_id}">{$place.place_name}</option> -->
								 	</volist>
								</select>
							</div>
							<div class="col-sm-4 form-horizontal">
								<div class="form-group">
									<div class="col-sm-12">
										<input type="text" id="place-group-data" data-val="" placeholder="部门名称" class="col-xs-10 col-sm-10">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<input type="text" id="place-data" data-val="" placeholder="职位名称" class="col-xs-10 col-sm-10">
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="widget-toolbox padding-8 clearfix">
						<button class="btn btn-xs btn-success" id="submit-user">
							<i class="ace-icon fa fa-plus-square bigger-110"></i>
							<span class="bigger-110">新增职位</span>
						</button>
						<button class="btn btn-xs btn-primary" id="submit-user">
							<i class="ace-icon fa fa-edit bigger-110"></i>
							<span class="bigger-110">新增职位</span>
						</button>
						<button class="btn btn-xs btn-danger" id="submit-user">
							<i class="ace-icon fa fa-close bigger-110"></i>
							<span class="bigger-110">新增职位</span>
						</button>
					</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="widget-box">
			<div class="widget-header">
				<h5 class="widget-title smaller"><i class="ace-icon fa fa-user-secret bigger-110"></i>角色管理</h5>
				<div class="widget-toolbar"></div>
			</div>
			<div class="widget-body">
					<div class="widget-main">
						<div class="row">
							<div class="col-sm-4">
								<select class="form-control" id="form-field-select-2" multiple="multiple">
								 	<volist name="user_roles" id="roles">
								 		<option class="ubase-select" data-type="role" data-input="role-group-data" value="{$roles.role_id}">{$roles.role_name}</option>
								 	</volist>
								</select>
							</div>
							<div class="col-sm-4">
								<select class="form-control" id="form-field-select-2" multiple="multiple">
								 	<volist name="user_place" id="place">
								 		<option class="ubase-select" data-input="role-data" value="{$place.place_id}">{$place.place_name}</option>
								 	</volist>
								</select>
							</div>
							<div class="col-sm-4 form-horizontal">
								<div class="form-group">
									<div class="col-sm-12">
										<input type="text" id="role-group-data" data-val="" placeholder="角色分组" class="col-xs-10 col-sm-10">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<input type="text" id="role-data" data-val="" placeholder="角色名称" class="col-xs-10 col-sm-10">
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="widget-toolbox padding-8 clearfix">
						<button class="btn btn-xs btn-yellow" id="submit-user">
							<i class="ace-icon fa fa-plus-square bigger-110"></i>
							<span class="bigger-110">新增分组</span>
						</button>
						<button class="btn btn-xs btn-purple" id="submit-user">
							<i class="ace-icon fa fa-edit bigger-110"></i>
							<span class="bigger-110">修改分组</span>
						</button>
						<button class="btn btn-xs btn-pink" id="submit-user">
							<i class="ace-icon fa fa-close bigger-110"></i>
							<span class="bigger-110">删除分组</span>
						</button>
						<button class="btn btn-xs btn-success" id="submit-user">
							<i class="ace-icon fa fa-plus-square bigger-110"></i>
							<span class="bigger-110">新增角色</span>
						</button>
						<button class="btn btn-xs btn-primary" id="submit-user">
							<i class="ace-icon fa fa-edit bigger-110"></i>
							<span class="bigger-110">修改角色</span>
						</button>
						<button class="btn btn-xs btn-danger" id="submit-user">
							<i class="ace-icon fa fa-close bigger-110"></i>
							<span class="bigger-110">删除角色</span>
						</button>
					</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script>
	$(function(){
		$(".ubase-select").on("click",function abc(){
			var tid=$(this).data("input")
			$("#"+tid).val($(this).text())
			$("#"+tid).data('val',$(this).val())
			if($(this).data("type")!=undefined){
				var lower=$(this).parent().data("lower");
				//alert(lower);
				datas={}
				datas['type']=$(this).data("type")
				datas['id']=$(this).val()
					$.ajax({
						url:"{:U('showlowe')}",
						type:"post",
						data:datas,
						datatype:"html",
						success:function(data){
							$("#"+lower).html(data);
							$(".ubase-select").on("click",abc)
						}
					})
			}
		})
	})

</script>
