<!-- <link rel="stylesheet" href="__PUBLIC__/components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css"> -->
<style>
	.extent-change{
		cursor:pointer;
	}
	.extent-change i{font-size: 19px;}
	/*input.ace.ace-switch.ace-switch-4[type="checkbox"]:checked + .user-sex-span::before{
		background:#D15B47;
	}
	input.ace.ace-switch.ace-switch-4[type="checkbox"] + .user-sex-span::before{
		background:#82AF6F;
	}*/
</style>
<div class="page-header">
	<h1>
		用户信息
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			新增用户
		</small>
	</h1>
</div><!-- /.page-header -->

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6">
		<div class="widget-box">
			<div class="widget-header">
				<h5 class="widget-title smaller"><i class="ace-icon fa fa-cubes bigger-110"></i>公司管理</h5>
				<div class="widget-toolbar"></div>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<div class="row">
						<div class="col-sm-6 form-group">
							<p class="text-warning blue">公司列表 <i class="ace-icon fa fa-list bigger-110"></i></p>
							<select class="form-control" name="company"  multiple="multiple">
							 	<volist name="user_companys" id="company">
							 		<option class="ubase-select" data-input="company-data" value="{$company.company_id}">{$company.company_name}</option>
							 	</volist>
							</select>
						</div>
						<div class="col-sm-6 form-horizontal">
						<p class="text-warning blue">名称修改 <i class="ace-icon fa fa-edit bigger-110"></i></p>
							<div class="form-group">
								<div class="col-sm-12">
									<input type="text" id="company-data" data-val="" placeholder="公司名称" class="col-xs-10 col-sm-10">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="widget-toolbox padding-8 clearfix" data-type="company" data-input="company-data">
					<button class="btn btn-xs btn-success add-button" >
						<i class="ace-icon fa fa-plus-square bigger-110"></i>
						<span class="bigger-110">新增公司</span>
					</button>
					<button class="btn btn-xs btn-primary update-button" >
						<i class="ace-icon fa fa-edit bigger-110"></i>
						<span class="bigger-110">修改公司</span>
					</button>
					<button class="btn btn-xs btn-danger del-button" >
						<i class="ace-icon fa fa-close bigger-110"></i>
						<span class="bigger-110">删除公司</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6">
		<div class="widget-box">
			<div class="widget-header">
				<h5 class="widget-title smaller"><i class="ace-icon fa fa-group bigger-110"></i>部门管理</h5>
				<div class="widget-toolbar"></div>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<div class="row">
						<div class="col-sm-4 form-group">
						<p class="text-warning blue">部门列表 <i class="ace-icon fa fa-list bigger-110"></i></p>
							<select class="form-control" id="form" name="department" multiple="multiple" data-lower="group-select-box">
							 	<volist name="user_department" id="department">
							 		<option class="ubase-select" data-input="department-data" data-checked="{$department.department_leader}" data-type="group" value="{$department.department_id}">{$department.department_name}</option>
							 	</volist>
							</select>
						</div>
						<div class="col-sm-4 form-group">
						<p class="text-warning blue">分组列表 <i class="ace-icon fa fa-list bigger-110"></i></p>
							<select class="form-control" id="group-select-box" name="group" multiple="multiple">
							 	<volist name="user_groups" id="groups">
							 		<!-- <option class="ubase-select" data-input="subdepartment-data" value="{$groups.subgroup_id}">{$subgroups.subgroup_name}</option> -->
							 	</volist>
							</select>
						</div>
						<div class="col-sm-4 form-horizontal">
						<p class="text-warning blue">名称修改 <i class="ace-icon fa fa-edit bigger-110"></i></p>
							<div class="form-group">
								<div class="col-sm-12">
									<span class="input-icon input-icon-right col-xs-10 col-sm-10" style="padding:0;">
										<input type="text" id="department-data" data-val="" class="form-control" placeholder="部门名称">
										<i class="ace-icon" title="打勾表示该分组为高级管理层"><input type="checkbox" id="department-leader" style="width:20px;height:20px"/></i>
									</span>
									<!-- <input type="text" id="department-data" data-val="" placeholder="部门名称" class="col-xs-10 col-sm-10"> -->
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input type="text" id="group-data" data-val="" placeholder="分组名称" class="col-xs-10 col-sm-10">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="widget-toolbox padding-8 clearfix" data-type="department" data-type2="group" data-input="department-data" data-input2="group-data">
					<button class="btn btn-xs btn-yellow add-button" >
						<i class="ace-icon fa fa-plus-square bigger-110"></i>
						<span class="bigger-110">新增部门</span>
					</button>
					<button class="btn btn-xs btn-purple update-button" >
						<i class="ace-icon fa fa-edit bigger-110"></i>
						<span class="bigger-110">修改部门</span>
					</button>
					<button class="btn btn-xs btn-pink del-button" >
						<i class="ace-icon fa fa-close bigger-110"></i>
						<span class="bigger-110">删除部门</span>
					</button>
					<button class="btn btn-xs btn-success add-button" >
						<i class="ace-icon fa fa-plus-square bigger-110"></i>
						<span class="bigger-110">新增分组</span>
					</button>
					<button class="btn btn-xs btn-primary update-button" >
						<i class="ace-icon fa fa-edit bigger-110"></i>
						<span class="bigger-110">修改分组</span>
					</button>
					<button class="btn btn-xs btn-danger del-button" >
						<i class="ace-icon fa fa-close bigger-110"></i>
						<span class="bigger-110">删除分组</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="widget-box">
			<div class="widget-header">
				<h5 class="widget-title smaller"><i class="ace-icon fa fa-vcard" ></i>职位管理</h5>
				<div class="widget-toolbar"></div>
			</div>
			<div class="widget-body">
					<div class="widget-main">
						<div class="row">
							<div class="col-sm-3 form-group">
							<p class="text-warning blue">部门列表 <i class="ace-icon fa fa-list bigger-110"></i></p>
								<select class="form-control" name="department"  multiple="multiple" data-lower="place-select-box">
								 	<volist name="user_department" id="department" >
								 		<option  class="ubase-select" data-type="place" data-input="place-group-data" value="{$department.department_id}">{$department.department_name}</option>
								 	</volist>
								</select>
							</div>
							<div class="col-sm-3 form-group">
							<p class="text-warning blue">分组列表 <i class="ace-icon fa fa-group bigger-110"></i></p>
								<select class="form-control" name="group" id="group-select-box2" multiple="multiple">
								 	<volist name="user_subgroups" id="subgroups">
								 		<!-- <option class="ubase-select" data-input="subdepartment-data" value="{$groups.subgroup_id}">{$subgroups.subgroup_name}</option> -->
								 	</volist>
								</select>
							</div>
							<div class="col-sm-3 form-group">
							<p class="text-warning blue">职位列表 <i class="ace-icon fa fa-user bigger-110"></i></p>
								<select class="form-control" id="place-select-box" name="place" multiple="multiple">
								 	<volist name="user_place" id="place">
								 		<!-- <option class="ubase-select" data-input="place-data" value="{$place.place_id}">{$place.place_name}</option> -->
								 	</volist>
								</select>
							</div>
							<div class="col-sm-3 form-horizontal">
							<p class="text-warning blue">名称修改 <i class="ace-icon fa fa-edit bigger-110"></i></p>
								<div class="form-group">
									<div class="col-sm-12">
										<input type="text" id="place-group-data" data-val="" placeholder="部门名称" class="col-xs-10 col-sm-10">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<input type="text" id="group-data2" data-val="" placeholder="分组名称" class="col-xs-10 col-sm-10">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<!-- <input type="text" id="place-data" data-val="" placeholder="职位名称" class="col-xs-10 col-sm-10"> -->
										<span class="input-icon input-icon-right col-xs-10 col-sm-10" style="padding:0;">
											<input type="text" id="place-data" data-val="" class="form-control" placeholder="职位名称">
											<i class="ace-icon" title="打勾表示该职位属于部门/小组组长有审核权限"><input type="checkbox" id="place-manager" style="width:20px;height:20px"/></i>
										</span>
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="widget-toolbox padding-8 clearfix" data-type="place" data-input="place-data">
						<button class="btn btn-xs btn-success add-button" >
							<i class="ace-icon fa fa-plus-square bigger-110"></i>
							<span class="bigger-110">新增职位</span>
						</button>
						<button class="btn btn-xs btn-primary update-button" >
							<i class="ace-icon fa fa-edit bigger-110"></i>
							<span class="bigger-110">修改职位</span>
						</button>
						<button class="btn btn-xs btn-danger del-button" >
							<i class="ace-icon fa fa-close bigger-110"></i>
							<span class="bigger-110">删除职位</span>
						</button>
					</div>
			</div>
		</div>
	</div>
</div>
<!-- 管理层分配部门开始 -->
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="widget-box">
			<div class="widget-header">
				<h5 class="widget-title smaller"><i class="ace-icon fa fa-cogs bigger-110"></i>管理层分配</h5>
				<div class="widget-toolbar"></div>
			</div>
			<div class="widget-body">
					<div class="widget-main">
						<div class="row">
							<div class="col-sm-3 form-group">
							<p class="text-warning blue">管理层职位 <i class="ace-icon fa fa-sitemap bigger-110"></i></p>
								<select class="form-control"  multiple="multiple" name="leaders" >
								 	<volist name="place_leader" id="pLeader">
								 		<option class="place_leader" value="{$pLeader.place_id}">{$pLeader.place_name}</option>
								 	</volist>
								</select>
							</div>
							<div class="col-sm-3 form-group">
							<p class="text-warning blue">可选部门 <i class="ace-icon fa fa-list-ul bigger-110"></i></p>
								<select class="form-control"  multiple="multiple" name="depart-optional">
								</select>
							</div>
							<div class="col-sm-2 form-group" style="text-align: center;">
								<p class="text-warning blue"> <i class="ace-icon fa fa-exchange bigger-110"></i> 操作</p>
								<div class="col-sm-12 form-group">
									<span class="extent-change label label-xlg label-primary arrowed arrowed-right arrowed-in" data-type="add"> 添加 <i class="ace-icon fa fa-angle-double-right"></i></span>
								</div>
								<p></p>
								<div class="col-sm-12 form-group">
									<span class="extent-change label label-xlg label-primary arrowed arrowed-left arrowed-in-right" data-type="reduce"><i class="ace-icon fa  fa-angle-double-left"></i> 减少 </span>
								</div>
							</div>
							<div class="col-sm-3 form-group">
							<p class="text-warning blue">已选部门 <i class="ace-icon fa fa-list-ol bigger-110"></i></p>
								<select class="form-control"  multiple="multiple" name="depart-selected">
								</select>
							</div>
						</div>	
					</div>
			</div>
		</div>
	</div>
</div>
<!-- 管理层分配部门结束 -->
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="widget-box">
			<div class="widget-header">
				<h5 class="widget-title smaller"><i class="ace-icon fa fa-user-secret bigger-110"></i>角色管理</h5>
				<div class="widget-toolbar"></div>
			</div>
			<div class="widget-body">
					<div class="widget-main">
						<div class="row">
							<div class="col-sm-4 form-group">
							<p class="text-warning blue">角色分组 <i class="ace-icon fa fa-list-ul bigger-110"></i></p>
								<select class="form-control"  multiple="multiple" name="role" data-lower="role-select-box">
								 	<volist name="role_group" id="roleGroup">
								 		<option class="ubase-select" data-type="role" data-input="role-group-data" value="{$roleGroup.role_id}">{$roleGroup.role_name}</option>
								 	</volist>
								</select>
							</div>
							<div class="col-sm-4 form-group">
							<p class="text-warning blue">角色列表 <i class="ace-icon fa fa-id-card bigger-110"></i></p>
								<select class="form-control" id="role-select-box"  multiple="multiple" name="subrole">
								 	<volist name="role_user" id="roleUser">
								 		<!-- <option class="ubase-select" data-input="role-data" value="{$place.place_id}">{$place.place_name}</option> -->
								 	</volist>
								</select>
							</div>
							<div class="col-sm-4 form-horizontal">
								<p class="text-warning blue">名称修改 <i class="ace-icon fa fa-edit bigger-110"></i></p>
								<div class="form-group">
									<div class="col-sm-12">
										<input type="text" id="role-group-data" data-val="" placeholder="角色分组" class="col-xs-10 col-sm-10">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<input type="text" id="role-data" data-val="" placeholder="角色名称" class="col-xs-10 col-sm-10">
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="widget-toolbox padding-8 clearfix" data-type="role" data-type2="subrole" data-input="role-group-data" data-input2="role-data">
						<button class="btn btn-xs btn-yellow add-button" >
							<i class="ace-icon fa fa-plus-square bigger-110"></i>
							<span class="bigger-110">新增分组</span>
						</button>
						<button class="btn btn-xs btn-purple update-button" >
							<i class="ace-icon fa fa-edit bigger-110"></i>
							<span class="bigger-110">修改分组</span>
						</button>
						<button class="btn btn-xs btn-pink del-button" >
							<i class="ace-icon fa fa-close bigger-110"></i>
							<span class="bigger-110">删除分组</span>
						</button>
						<button class="btn btn-xs btn-success add-button" >
							<i class="ace-icon fa fa-plus-square bigger-110"></i>
							<span class="bigger-110">新增角色</span>
						</button>
						<button class="btn btn-xs btn-primary update-button" >
							<i class="ace-icon fa fa-edit bigger-110"></i>
							<span class="bigger-110">修改角色</span>
						</button>
						<button class="btn btn-xs btn-danger del-button" >
							<i class="ace-icon fa fa-close bigger-110"></i>
							<span class="bigger-110">删除角色</span>
						</button>
					</div>
			</div>
		</div>
	</div>
</div>
<!-- <script src="__PUBLIC__/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script> -->
<script>
	$(function(){
		$("select").on("click",".ubase-select",function(){
			// alert("a")
			var tid=$(this).data("input")
			$("#"+tid).parents(".form-group").nextAll().find("input").val("")
			$("#place-manager").prop("checked",false)
			$("#"+tid).val($(this).text())
			$("#"+tid).data('val',$(this).val())
			if(tid=="place-data"){
				if($(this).data("checked")==1){
					$("#place-manager").prop("checked",true)
				}else{
					$("#place-manager").prop("checked",false)
				}	
			}else if(tid=="department-data"){
				if($(this).data("checked")==1){
					$("#department-leader").prop("checked",true)
				}else{
					$("#department-leader").prop("checked",false)
				}	
			}
			if($(this).data("type")!=undefined){
				var lower=$(this).parent().data("lower");
				//alert(lower);
				datas={}
				datas['type']=$(this).data("type")
				datas['id']=$(this).val()
				if($(this).data("sub")!=undefined){
					datas['sub']="true"
					datas['department']=$(this).parents(".form-group").prev().find("select option:selected").val()
					// alert($(this).parents(".form-group").prev().find("select option:selected").val())
				}
					$.ajax({
						url:"{:U('showlowe')}",
						type:"post",
						data:datas,
						datatype:"html",
						success:function(data){
							if(datas['type']=="place"){
								datajson=JSON.parse(data)
								$("#group-select-box2").html(datajson["group"]);
								$("#place-select-box").html(datajson["place"]);
							}else{
								$("#"+lower).html(data);
							}
							
						}
					})
			}
		})
		/**
		*所有新增按钮
		*/
		$(".add-button").on("click",function(){
			var datas={}
			// var allBtn=$(this).parent().find("button").length
			var thisBtnIndex=$($(this).parent().find("button")).index(this)
			if(thisBtnIndex>=3){
				datas["type"]=$(this).parent().data("type2")
				datas["value"]=$("#"+$(this).parent().data("input2")).val()
				var oSelect=$(this).parent().prev().find("select[name='"+$(this).parent().data("type")+"'] option:selected")

				datas["department"]=oSelect.val()
				if(datas["department"]==undefined){
					alert("别逗我，你都没选择！")
					return false;
				}
			}else{

				datas["type"]=$(this).parent().data("type")
				datas["value"]=$("#"+$(this).parent().data("input")).val()
			}
			
			var selfele=$(this).parent().prev().find("select[name='"+datas["type"]+"']")
			if(datas["value"]==""){

				alert(datas["value"]+"不能为空！")
				return false;
			}
			// alert(JSON.stringify(datas))
			/*特殊职位*/
			if(datas["type"]=="place"){

				var gSelect=$(this).parent().prev().find("select[name='department'] option:selected")
				datas["department"]=gSelect.val()
				var sSelect=$(this).parent().prev().find("select[name='group'] option:selected")
				datas["subgroup"]=sSelect.val()
				selfele=$(this).parent().prev().find("select[name='place']")
				// if(sSelect.val()==""){
				// 	selfele=$(this).parent().prev().find("select[name='group']")
				// }else{
				// 	selfele=$(this).parent().prev().find("select[name='subgroup']")
				// }
				if($("#place-manager").is(":checked")){
					datas["checked"]=1
				}else{
					datas["checked"]=0
				}
			}else if(datas["type"]=="role"){
				var rolegroup=$(this).parent().prev().find("select[name='role']")
				var role=$(this).parent().prev().find("select[name='subrole']")
				// alert(role.find("option:selected").val())
				if(thisBtnIndex>=3){
					selfele=role
				}else{
					selfele=rolegroup
				}

			}else if(datas["type"]=="department"){

				if($("#department-leader").is(":checked")){
					datas["checked"]=1
				}else{
					datas["checked"]=0
				}
			}
			$.ajax({
				url:"{:U('addinfo')}",
				type:"post",
				data:datas,
				dataType:"json",
				success:function(data){
					// alert(data)
					if(data["msg"]=="success"){
						selfele.append(data["option"]);
						selfele.find("option").eq(selfele.find("option").attr("selected",false))
						selfele.find("option").eq(selfele.find("option").length-1).attr("selected",true)
						selfele.find("option").eq(selfele.find("option").length-1).click()
					}else{
						alert(data["msg"])
					}
				}
			})
		})
		/**
		*所有更新按钮
		*/
		$(".update-button").on("click",function(){
			var datas={}
			var thisBtnIndex=$($(this).parent().find("button")).index(this)
			if(thisBtnIndex>=3){
				var thisType=$(this).parent().data("type2")
				datas["value"]=$("#"+$(this).parent().data("input2")).val()
				datas["department"]=$(this).parent().prev().find("select[name='"+$(this).parent().data("type")+"'] option:selected").val()
			}else{
				var thisType=$(this).parent().data("type")
				if(thisType=="place"){
					var gSelect=$(this).parent().prev().find("select[name='department'] option:selected")
					datas["department"]=gSelect.val()
					var sSelect=$(this).parent().prev().find("select[name='group'] option:selected")
					datas["group"]=sSelect.val()
					thisSel=$(this).parent().prev().find("select[name='place']")
					if($("#place-manager").is(":checked")){
						datas["checked"]=1
					}else{
						datas["checked"]=0
					}

				}else if(thisType=="department"){

					if($("#department-leader").is(":checked")){
						datas["checked"]=1
					}else{
						datas["checked"]=0
					}
				}
				datas["value"]=$("#"+$(this).parent().data("input")).val()
			}
			
			var thisSel=$(this).parent().prev().find("select[name='"+thisType+"']")
			var thisOpt=thisSel.find("option:selected").val()
			if(thisOpt==undefined){
				alert("别逗我，你都没选择！")
				return false;
			}
				datas["type"]=thisType

				datas["key"]=thisOpt
				if(datas["value"]==""){
					alert("别闹了，不能留空的！")
					return false;
				}
				$.ajax({
					url:"{:U('updateinfo')}",
					type:"post",
					data:datas,
					dataType:"html",
					success:function(data){
						if(data=="success"){
							thisSel.find("option:selected").text(datas["value"])
							thisSel.find("option:selected").data("checked",datas["checked"])
						}else{
							alert(data)
						}
					}
				})
			
		})
		/**
		*所有删除按钮
		*/
		$(".del-button").on("click",function(){
			var datas={}
			var thisBtnIndex=$($(this).parent().find("button")).index(this)
			if(thisBtnIndex>=3){
				var thisType=$(this).parent().data("type2")
				thisInput=$("#"+$(this).parent().data("input2"))
			}else{
				var thisType=$(this).parent().data("type")
				thisInput=$("#"+$(this).parent().data("input"))
			}
			
			var thisSel=$(this).parent().prev().find("select[name='"+thisType+"']")
			var thisOpt=thisSel.find("option:selected").val()
			if(thisOpt==undefined){
				alert("别逗我，你都没选择！")
				return false;
			}
				datas["type"]=thisType
				datas["key"]=thisOpt
			
			$.ajax({
				url:"{:U('delinfo')}",
				type:"post",
				data:datas,
				dataType:"html",
				success:function(data){
					if(data=="success"){
						thisSel.find("option:selected").remove()
						thisInput.val("")
					}else{
						alert(data)
					}
				}
			})
		})
		/**
		 * [description]
		 * @param  {[type]} ){		} [description]
		 * @return {[type]}         [description]
		 */
		$("select[name='leaders']").on("click",".place_leader",function(){
			datas={}
			datas["type"]="extent"
			datas["place_id"]=$(this).val();
			$.ajax({
				url:"{:U('change_extent')}",
				type:"post",
				data:datas,
				datatype:"html",
				success:function(data){
					dataJson=JSON.parse(data)
					$("select[name='depart-optional']").html(dataJson.optional)
					$("select[name='depart-selected']").html(dataJson.selected)
				}
			})
		})
		$(".extent-change").on("click",function(){
			datas={}
			datas["type"]=$(this).data("type");
			if(datas["type"]=="add"){
				var selected= $("select[name='depart-optional'] option:selected")
				alert(selected.length)
			}else{

			}
		})
		//
		//
	})

</script>
