<link rel="stylesheet" href="__PUBLIC__/components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
<style>
	input.ace.ace-switch.ace-switch-4[type="checkbox"]:checked + .user-sex-span::before{
		background:#D15B47;
	}
	input.ace.ace-switch.ace-switch-4[type="checkbox"] + .user-sex-span::before{
		background:#82AF6F;
	}
</style>
<div class="widget-box">
	<div class="widget-header">
		<h5 class="widget-title smaller"><i class="ace-icon fa fa-user bigger-110"></i>人员信息</h5>
		<div class="widget-toolbar"></div>
	</div>
	<div class="widget-body">
		<div class="widget-main">
			<form class="form-horizontal" id="user-form">
				<input  name="user_id" class="user-finfo" type="hidden" value="{$userinfo.user_id|default='0'}">
			<if condition="$add eq 'true'">
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 用户名 </label>
					<div class="col-sm-9">
						<input  placeholder="用户名" name="user_username" class="col-xs-10 col-sm-10 user-finfo" data-label="用户名" type="text" value="{$userinfo.user_username|default=''}">
					</div>
				</div>
			</if>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 姓名 </label>
				<div class="col-sm-9">
					<input  placeholder="姓名" name="user_name" class="col-xs-10 col-sm-10 user-finfo" data-label="姓名" type="text" value="{$userinfo.user_name|default=''}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 用户编码 </label>
				<div class="col-sm-9">
					<input  placeholder="用户编码" name="user_code" readonly="" class="col-xs-10 col-sm-10 user-finfo" data-label="用户编码" type="text" value="{$userinfo.user_code|default=$newcode}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 用户密码 </label>
				<div class="col-sm-9">
					<input  placeholder="默认密码Aa1234567" name="user_passwd" class="col-xs-10 col-sm-10 user-finfo" data-label="用户密码" type="password" value="">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 所属公司 </label>
				<div class="col-sm-8">
					<select class="chosen-select form-control user-finfo" data-label="所属公司"  name="user_company" data-placeholder="选择所属公司">
						<volist name="companyArray" id="company">
							<option value="{$company.company_id}">{$company.company_name}</option>
						</volist>
						
					</select>
					<!-- <input  placeholder="所属公司" class="col-xs-10 col-sm-10" type="text"> -->
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 所属部门 </label>
				<div class="col-sm-8">
					<!-- <input  placeholder="所属部门" class="col-xs-10 col-sm-10" type="text"> -->
					<select class="chosen-select form-control user-finfo" data-label="所属部门" name="user_department" data-placeholder="选择所属部门">
						<option value='0'>所有部门</option>
						<volist name="departmentArray" id="department">
							<option value="{$department.department_id}">{$department.department_name}</option>
						</volist>
					</select>

				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 所属分组 </label>
				<div class="col-sm-8">
					<!-- <input  placeholder="所属部门" class="col-xs-10 col-sm-10" type="text"> -->
					<select class="chosen-select form-control user-finfo" data-label="所属分组" name="user_group" data-placeholder="选择所属部门">
						<option value='0'>所有分组</option>
						<volist name="groupArray" id="group">
							<option value="{$group.group_id}">{$group.group_name}</option>
						</volist>
					</select>

				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 职位 </label>
				<div class="col-sm-8">
					<select class="chosen-select form-control user-finfo" data-label="职位" name="user_place" data-placeholder="选择职位">
						<option value='0'>所有职位</option>
						<volist name="placeArray" id="placelist">
							<option value="{$placelist.place_id}">{$placelist.place_name}</option>
						</volist>
					</select>

					<!-- <input  placeholder="职位" name="user_place" data-label="职位" class="user-finfo col-xs-10 col-sm-10" type="text"> -->
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 角色分组 </label>
				<div class="col-sm-8">
					<select class="chosen-select form-control user-finfo" data-label="角色" name="user_roles" data-placeholder="选择对应角色">
						<option value='0'>所有角色</option>
						<volist name="rolesArray" id="roleslist">
							<option value="{$roleslist.role_id}">{$roleslist.role_name}</option>
						</volist>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 角色 </label>
				<div class="col-sm-8">
					<select class="chosen-select form-control user-finfo" data-label="角色" name="user_role" data-placeholder="选择对应角色">
					<option value='0'>所有角色</option>
						<volist name="roleArray" id="roleslist">
							<option value="{$roleslist.role_id}">{$roleslist.role_name}</option>
						</volist>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 上级主管 </label>
				<div class="col-sm-8">
					<select class="chosen-select form-control user-finfo" data-label="上级主管" name="user_director" data-placeholder="上级主管">
						<option value='0'>无</option>
						<volist name="directorArray" id="directorList">
							<option value="{$directorList.user_code}">{$directorList.user_name}</option>
						</volist>
					</select>
					<!-- <input  placeholder="上级主管" name="user_director" data-label="上级主管" class="user-finfo col-xs-10 col-sm-10" type="text" value="{$userinfo.user_director|default=''}"> -->
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 电话号码 </label>
				<div class="col-sm-9">
					<input  placeholder="电话号码" name="user_phone" class="col-xs-10 col-sm-10 user-finfo" data-label="电话号码" type="text" value="{$userinfo.user_phone|default=''}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 性别 </label>
				<div class="col-sm-9">
					<input type="checkbox" id="user-sex-box" name="user_sex" data-label="性别" class="user-finfo ace ace-switch ace-switch-4 btn-flat" />
					<span class="lbl user-sex-span" data-lbl="女&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;男"></span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 生日 </label>
				<div class="col-sm-8">
					<div class="input-group">
						<input class="form-control date-picker user-finfo" data-label='生日' name="user_born" id="id-date-born" data-date-format="yyyy-mm-dd" type="text" value="{$userinfo.user_born|date2format}">
						<span class="input-group-addon">
							<i class="fa fa-calendar bigger-110"></i>
						</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 入职时间 </label>
				<div class="col-sm-8">
					<div class="input-group">
						<input class="form-control date-picker user-finfo" data-label="入职时间" name="user_entry" id="id-date-entry" data-date-format="yyyy-mm-dd" type="text" value="{$userinfo.user_entry|date2format}">
						<span class="input-group-addon">
							<i class="fa fa-calendar bigger-110"></i>
						</span>
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
	<div class="widget-toolbox padding-8 clearfix">
		<if condition="$add eq 'true'">
			<button class="btn btn-xs btn-success pull-right" id="submit-user">
				<i class="ace-icon fa fa-check bigger-110"></i>
				<span class="bigger-110">添加人员</span>
			</button>
		<else />
			<button class="btn btn-xs btn-info pull-right" id="edit-user">
				<i class="ace-icon fa fa-check bigger-110"></i>
				<span class="bigger-110">修改人员</span>
			</button>
		</if>
		

		<button class="btn btn-xs btn-danger pull-left"  class="close" data-dismiss="modal" aria-label="Close">
			<i class="ace-icon fa fa-window-close bigger-110"></i>
			<span class="bigger-110" aria-hidden="true">取消</span>
		</button>
	</div>
</div>
<script src="__PUBLIC__/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>

<script>
		$(function(){

			init()
			
			//初始化后日期选择器
			$('#id-date-born').datepicker({
			   autoclose: true,
			   todayHighlight: true
			})
			//初始化后日期选择器
			$('#id-date-entry').datepicker({
			   autoclose: true,
			   todayHighlight: true
			})
			$("#user-sex-box").on("change",function(){
				set_sex();
			})
			//提交新增人员资料
			$("#submit-user").on("click",function(){
				con_user("user-form","add")
				
			})
			//快速添加
			$("#quick-user").on("click",function(){
				con_user("quick-form","add")
			})

			$("#edit-user").on("click",function(){
				con_user("user-form","update")
				
			})
			//改变分组
			// $("select[name='user_group']").on("change",function(){
			// 	$.ajax({
			// 		url:"{:U('show_subgroup')}",
			// 		type:"post",
			// 		data:{"group_id":$(this).val()},
			// 		datatype:"html",
			// 		success:function(data){
			// 			$("select[name='user_subgroup']").html(data)
			// 		}
			// 	})
			// })
			//改变分组
			$(".widget-box select[name='user_department']").on("change",function(){
				$.ajax({
					url:"{:U('show_group')}",
					type:"post",
					data:{"group_id":$(this).val()},
					dataType:"html",
					success:function(data){
						dataJson=JSON.parse(data)

						$("select[name='user_group']").html(dataJson["group"])
						$("select[name='user_place']").html(dataJson["place"])
						$("select[name='user_director']").html(dataJson["director"])

					}
				})
			})
			//改变职位
			$(".widget-box select[name='user_group']").on("change",function(){
				$.ajax({
					url:"{:U('show_place')}",
					type:"post",
					data:{"department_id":$(this).parents(".form-group").prev().find("select").val(),"group_id":$(this).val()},
					dataType:"html",
					success:function(data){
						dataJson=JSON.parse(data)
						$("select[name='user_place']").html(dataJson["place"])
						$("select[name='user_director']").html(dataJson["director"])
					}
				})
			})
			//改变角色
			$(".widget-box select[name='user_roles']").on("change",function(){
				$.ajax({
					url:"{:U('show_role')}",
					type:"post",
					data:{"role_upper":$(this).val()},
					dataType:"html",
					success:function(data){
						$(".widget-box select[name='user_role']").html(data)
					}
				})
			})

			//判断用户名是否存在
			$(".widget-box input[name='user_username']").on("input",function(){
				// console.log($(this).val());
				var selfEle=this
				$.ajax({
					url:"{:U('has_username')}",
					type:"post",
					data:{"user_username":$(this).val()},
					dataType:"html",
					success:function(data){
						if(data=="error"){
							$(selfEle).parents(".form-group").addClass("has-error")
							alert("用户名已存在")
						}else{
							$(selfEle).parents(".form-group").removeClass("has-error")
						}
						// console.log(data)
					}
				})
			})

		})
		//设置性别
		function set_sex(){
			if($("#user-sex-box").is(":checked")){
				$("#user-sex-box").val("女")
			}else{
				$("#user-sex-box").val("男")
			}
		}
		//新建用户
		function createUser(formId){
			datas=$("#"+formId).serializeArray()
			post=true
			$.each(datas,function(index, obj){
				if(obj.name=="user_name" && obj.value==""){
					alert("用户名不能为空");
					post = false;
				}
				
			})

			if(post==true){
				$.ajax({
					url:"{:U('create')}",
					type:"post",
					data:datas,
					datatype:"html",
					success:function(data){
						if(parseInt(data)>0){
							$(".user-finfo[name='user_code']").val(parseInt($(".user-finfo[name='user_code']").val())+1)
						}
					}
				})
			}
		}

	    /**
	     * [init 初始化]
	     * @return {[type]} [description]
	     */
		function init(){
			
			$(".widget-box select[name='user_company']").find("option[value='{$userinfo['user_company']}']").attr("selected",true);
			$(".widget-box select[name='user_department']").find("option[value='{$userinfo['user_department']}']").attr("selected",true);
			$(".widget-box select[name='user_group']").find("option[value='{$userinfo['user_group']}']").attr("selected",true);
			$(".widget-box select[name='user_place']").find("option[value='{$userinfo['user_place']}']").attr("selected",true);
			$(".widget-box select[name='user_roles']").find("option[value='{$userinfo['user_roles']}']").attr("selected",true);
			$(".widget-box select[name='user_role']").find("option[value='{$userinfo['user_role']}']").attr("selected",true);
			$(".widget-box select[name='user_director']").find("option[value='{$userinfo['user_director']}']").attr("selected",true);
			if("{$userinfo.user_sex|default=''}"=="女"){
				$("#user-sex-box").prop("checked",true)
			}else{
				$("#user-sex-box").prop("checked",false)
			}
			// $(".selector").find("option[text='pxx']").attr("selected",true);
		}

		/**
		 * [con_user 函数，新增或者修改用户]
		 * @param  {[type]} formId [指定的表单id]
		 * @param  {[type]} type   [类型 add或者update]
		 * @return {[type]}        [description]
		 */
		function con_user(formId,type){
			datas={}
			datas["type"]=type
			userData=$("#"+formId).serializeArray();

			datas["data"]={}
			$.each(userData,function(i,v){
		        datas["data"][v.name] = v.value;
		    }) 
		    if($("#user-sex-box").is(":checked")){
				datas["data"]["user_sex"]="女"
			}else{
				datas["data"]["user_sex"]="男"
			}

			$.ajax({
				url:"{:U('con_user')}",
				type:"post",
				data:datas,
				datatype:"html",
				success:function(data){
					$('#userModal').modal('toggle')
					search_user()
				}
			})
		}
		
	</script>