<volist name="aapplyArray" id="aapply">
    <tr class="apply-id" data-applyid="{$aapply.aapply_id}">
        <td class="">{$aapply.aapply_username}</td>
        <td class="">{$aapply.aapply_types}</td>
        <td>
            {$aapply.aapply_addtime}
        </td>
        <td class="hidden-480">
            {$aapply.aapply_schedule}
        </td>
        <td class="hidden-480">
            {$aapply.aapply_days}/{$aapply.aapply_hours}
        </td>
        <td class="hidden-480">
            <span style="display: block;max-width: 200px;">{$aapply.aapply_reason}</span>
        </td>
        <td>
            {$state[$aapply["aapply_state"]]}
        </td>
        <td>
            <div class="hidden-sm hidden-xs btn-group edit-control" data-id="{$aapply.aapply_id}" data-view="applyinfo">
                <button class="btn btn-xs btn-info info-edit" data-toggle="modal" data-target="#applyModal">
                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                </button>
                {$conBtn[$aapply["aapply_state"]]}
            </div>
        </td>
    </tr>
</volist>