<volist name="checkinArray" id="checkin">
    <tr>
    	<td class="">
            {$checkin.acheckin_name}
        </td>
        <td class="">
            {$checkin.acheckin_checkinways}
        </td>
        <td class="">
            {$checkin.acheckin_types}
        </td>
        <td class="">{$checkin.acheckin_timetypes}</td>
        <td>
            {$checkin.acheckin_checkintime}
        </td>
        <td class="hidden-480">
            {$checkin.acheckin_location}
        </td>
        <td class="hidden-480">
            <if condition="$checkin['acheckin_picture'] neq ''">
                <i class="ace-icon fa fa-picture-o img-view" aria-hidden="true" data-url='{$checkin["acheckin_picture"]}' data-toggle="modal" data-target="#imgModal"></i>
            </if>
            
        </td>
        <td class="hidden-480">
        	<if condition="$checkin['acheckin_state'] eq 1" >
        		<span class="label label-success"><i class="ace-icon fa fa-check-circle bigger-120"></i> 有效 </span>
        	<elseif condition="$checkin['acheckin_state'] eq 0" />
                <span class="label label-warning"><i class="ace-icon fa fa-question-circle bigger-120"></i> 未生效 </span>
            <else />
            <span class="label label-danger"><i class="ace-icon fa fa-times-circle bigger-120"></i> 已删除 </span>
        	</if>
        </td>
        <td class="hidden-480">
        	<div class="hidden-sm hidden-xs btn-group edit-control" data-id="{$checkin.acheckin_id}">
				<button class="btn btn-xs btn-info info-edit" data-toggle="modal" data-target="#attendModal">
					<i class="ace-icon fa fa-pencil bigger-120"></i>
                </button>
                
                <if condition="$checkin['acheckin_state'] eq 1">
                    <button class="btn btn-xs btn-warning checkin-con" data-state="0">
                        <i class="ace-icon fa fa-question-circle bigger-120"></i>
                    </button>
                <else/>
                    <button class="btn btn-xs btn-success checkin-con" data-state="1">
                        <i class="ace-icon fa fa-check-circle bigger-120"></i>
                    </button>
                </if>
                <if condition="$checkin['acheckin_state'] neq 2">
                    <button class="btn btn-xs btn-danger checkin-con" data-state="2">
                        <i class="ace-icon fa fa-times-circle bigger-120"></i>
                    </button>
                </if>
				
			</div>
        </td>
    </tr>
</volist>